Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Update .NET 9 packages to 9.0.18 (#2175)
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add ImageBuilder Updater project
  AGENTS.md
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.Updater/ImageBuilder.Updater.csproj
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update pipeline
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Temporarily disable updates for stable repos during development
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove file pusher and yaml updater
  AGENTS.md
  Microsoft.DotNet.DockerTools.slnx
  eng/docker-tools-file-pusher-config.json
  eng/image-builder-tag-update-config.json
  eng/pipelines/push-common-updates.yml
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/FilePusher.cs
  eng/src/file-pusher/Models/Config.cs
  eng/src/file-pusher/Models/GitRepo.cs
  eng/src/file-pusher/Options.cs
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/Options.cs
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Continue if a repo fails to update
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include digest in commit message
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Sync changes from eng/docker-tools
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/DEV-GUIDE.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix updater pipeline build initialization
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use Bash bootstrap in updater pipeline
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Resolve updater project from repository root
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:f805dc4541712f5f0852da5a1d0cae720031cd74437622224a703e92f6d38a65
  eng/docker-tools/skill-helpers/Get-BuildLog.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Restore bundled script file modes
  src/Infrastructure/Content/skill-helpers/Get-BuildLog.ps1
  src/Infrastructure/Content/skill-helpers/Get-FailingPipelines.ps1
  src/Infrastructure/Content/skill-helpers/Show-BuildTimeline.ps1
  src/Infrastructure/Content/skill-helpers/Show-PullRequestComments.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Preserve bundled script executable modes
  src/ImageBuilder.Tests/Helpers/InMemoryFileSystem.cs
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/FileSystem.cs
  src/ImageBuilder/IFileSystem.cs
  src/Infrastructure/Content/skill-helpers/Get-BuildLog.ps1
  src/Infrastructure/Content/skill-helpers/Get-FailingPipelines.ps1
  src/Infrastructure/Content/skill-helpers/Show-BuildTimeline.ps1
  src/Infrastructure/Content/skill-helpers/Show-PullRequestComments.ps1
  src/Infrastructure/InfrastructureContent.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Document executable file mode
  src/ImageBuilder.Tests/UpdateCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Generate bundled infrastructure file modes
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/Infrastructure/ContentFileModes.txt
  src/Infrastructure/Generate-ContentFileModes.ps1
  src/Infrastructure/InfrastructureContent.cs
  src/Infrastructure/Microsoft.DotNet.DockerTools.Infrastructure.csproj
  src/Infrastructure/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Align ImageBuilder updater log format
  src/ImageBuilder.Updater/Program.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable remaining ImageBuilder updater repositories
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update common Docker engineering infrastructure with latest (#2177)
  eng/docker-tools/skill-helpers/Get-BuildLog.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix ImageBuilder update pipeline .NET installation on Linux (#2178)
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Align ImageBuilder updater log format (#2180)
  src/ImageBuilder.Updater/Program.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable remaining ImageBuilder updater repositories (#2182)
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:e0c2b1288fd9a6ef066b9735797115bd80bd30922bde4a62600c69163b326165
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:dcdb77ff5949428304c100358a4c88030b9fce9f53edaa23f01b22f637c659c7
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Avoid multiple enumeration during image cleanup
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Avoid multiple enumeration during image cleanup (#2187)
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:a448063e938c5c186c25a64e36c4f1e9a755c346b5007d9f3fbfd846ac4514e4
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update common Docker engineering infrastructure from mcr.microsoft.com/dotnet-buildtools/image-builder@sha256:9207adb1b8a9d2fa45e6abdba824f25993ea8ebb5d48b7fd7e4a6c4708bcadb4
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add GitHub app authentication using Azure Key Vault
  src/GitAutomation.Tests/DependencyInjectionTests.cs
  src/GitAutomation/GitHub/GitHubAccess.cs
  src/GitAutomation/GitHub/GitHubAppAccessProvider.cs
  src/GitAutomation/GitHub/GitHubAppCredentialStore.cs
  src/GitAutomation/GitHub/GitHubAppInstallationCredentialStore.cs
  src/GitAutomation/GitHub/GitHubRepoHost.cs
  src/GitAutomation/GitHub/GitHubRepoHostProvider.cs
  src/GitAutomation/GitHub/IGitHubAccessProvider.cs
  src/GitAutomation/GitHub/OctokitExtensions.cs
  src/GitAutomation/GitHub/StaticGitHubAccessProvider.cs
  src/GitAutomation/IGitAccessTokenProvider.cs
  src/GitAutomation/IRepoHost.cs
  src/GitAutomation/IRepoHostProvider.cs
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/GitAutomation/PullRequestAutomationServiceCollectionExtensions.cs
  src/GitAutomation/PullRequestManager.cs
  src/GitAutomation/README.md
  src/GitAutomation/StaticGitAccessTokenProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add GitHub App authentication to ImageBuilder.Updater
  src/ImageBuilder.Updater/ImageBuilder.Updater.csproj
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Advance JWT expiration only after signing succeeds
  src/GitAutomation/GitHub/GitHubAppCredentialStore.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add GitHub App authentication to GitAutomation library using Azure Key Vault (#2188)
  src/GitAutomation.Tests/DependencyInjectionTests.cs
  src/GitAutomation/GitHub/GitHubAccess.cs
  src/GitAutomation/GitHub/GitHubAppAccessProvider.cs
  src/GitAutomation/GitHub/GitHubAppCredentialStore.cs
  src/GitAutomation/GitHub/GitHubAppInstallationCredentialStore.cs
  src/GitAutomation/GitHub/GitHubRepoHost.cs
  src/GitAutomation/GitHub/GitHubRepoHostProvider.cs
  src/GitAutomation/GitHub/IGitHubAccessProvider.cs
  src/GitAutomation/GitHub/OctokitExtensions.cs
  src/GitAutomation/GitHub/StaticGitHubAccessProvider.cs
  src/GitAutomation/IGitAccessTokenProvider.cs
  src/GitAutomation/IRepoHost.cs
  src/GitAutomation/IRepoHostProvider.cs
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/GitAutomation/PullRequestAutomationServiceCollectionExtensions.cs
  src/GitAutomation/PullRequestManager.cs
  src/GitAutomation/README.md
  src/GitAutomation/StaticGitAccessTokenProvider.cs
  src/ImageBuilder.Updater/ImageBuilder.Updater.csproj
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Combine caching services
  src/ImageBuilder/Commands/CheckBaseImagesCommand.cs
  src/ImageBuilder/Commands/CheckBaseImagesOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageCacheService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Replace planning policies with a single check list
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder/BaseImageResolver.cs
  src/ImageBuilder/BuildPlan.cs
  src/ImageBuilder/BuildPlanCheck.cs
  src/ImageBuilder/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/CheckBaseImagesCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/IManifestService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageCacheService.cs
  src/ImageBuilder/ImageDigestCache.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Decide equivalent builds once, in dependency order
  src/ImageBuilder/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

State the build plan before acting on it
  src/ImageBuilder/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Materialize the dependency graph in the build plan
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/BuildPlan.cs
  src/ImageBuilder/BuildPlanCheck.cs
  src/ImageBuilder/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Drive the build from the plan
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/BuildPlan.cs
  src/ImageBuilder/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
