Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Add support for extra Docker build options
  eng/docker-tools/DEV-GUIDE.md
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/DockerService.cs
  src/ImageBuilder/DockerServiceCache.cs
  src/ImageBuilder/IDockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2062)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update changelog
  eng/docker-tools/CHANGELOG.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Disable EOL annotation generation temporarily
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/cleanup-acr-images-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Temporarily Disable EOL annotation generation (#2065)
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/cleanup-acr-images-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add support for extra Docker build options (#2064)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/DockerService.cs
  src/ImageBuilder/DockerServiceCache.cs
  src/ImageBuilder/IDockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update System.Drawing.Common
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update System.Drawing.Common (#2068)
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Arcade and adopt V4 publishing
  eng/Publishing.props
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/common/core-templates/job/job.yml
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/sdk-task.ps1
  eng/common/templates-official/job/job.yml
  eng/common/templates-official/steps/publish-pipeline-artifacts.yml
  eng/common/tools.ps1
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
  global.json
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add comment to keep PublishingVersion in sync
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Improve logging and dry-run functionality for CopyImageService
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix concurrency bug in OrasDotNetService
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Discover referrers up-front in CopyImageService
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add dry run support to OCI referrer lookup
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove redundant const
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve CopyBaseImages and HttpClient logging (#2071)
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2067)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix LoggingHandler timeout catch and add pre-request logging
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add LoggingHandler tests for timeout and cancellation logging
  src/ImageBuilder.Tests/LoggingHandlerTests.cs
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Seal LoggingHandler
  src/ImageBuilder/HttpClientProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add XML doc comments to LoggingHandlerTests helper methods
  src/ImageBuilder.Tests/LoggingHandlerTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Skip referrer copying in CopyBaseImages
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CopyBaseImagesCommandTests.cs
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/Commands/CopyImagesCommand.cs
  src/ImageBuilder/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Tweak formatting and logging
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Do not copy referrers in `CopyBaseImages` (#2073)
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CopyBaseImagesCommandTests.cs
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/Commands/CopyImagesCommand.cs
  src/ImageBuilder/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2074)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Arcade and adopt V4 publishing (#2069)
  eng/Publishing.props
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/common/core-templates/job/job.yml
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/sdk-task.ps1
  eng/common/templates-official/job/job.yml
  eng/common/templates-official/steps/publish-pipeline-artifacts.yml
  eng/common/tools.ps1
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
  global.json
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update System.CommandLine from 2.0.5 to 2.0.6
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add static helper method for binding options
  src/ImageBuilder/Commands/Command.TOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move options helper method to extension method
  src/ImageBuilder/Commands/Command.TOptions.cs
  src/ImageBuilder/Commands/SystemCommandLineExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add failing tests for VerifySignaturesOptions registry override binding
  src/ImageBuilder.Tests/Signing/VerifySignaturesOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix VerifySignaturesOptions to bind registry override from CLI args
  src/ImageBuilder/Commands/Signing/VerifySignaturesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add failing tests for SignImagesOptions registry override binding
  src/ImageBuilder.Tests/Signing/SignImagesOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix SignImagesOptions to bind registry override from CLI args
  src/ImageBuilder/Commands/Signing/SignImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add failing tests for ServiceConnection option input validation
  src/ImageBuilder.Tests/Commands/ServiceConnectionOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Validate service connection format before parsing
  src/ImageBuilder/Commands/ServiceConnectionOptionsBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add failing tests for GitOptions.WithGitHubAuth description and isRequired
  src/ImageBuilder.Tests/Commands/GitOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
