Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Rename 'Retry failed publish' to 'Re-run publish after infra fix'
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clarify stages pattern is for skipping stages, not retrying
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clarify sourceBuildPipelineRunId is a pipeline parameter
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add guidance on where to find the build ID
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove unnecessary Conclusion section
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add default network isolation policy to 1es pipeline template
  eng/docker-tools/templates/1es.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Adds a dev-guide for the infra (#1889)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add default network isolation policy to 1ES pipeline template (#1890)
  eng/docker-tools/templates/1es.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1888)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Disable Microsoft.Extensions.Configuration binding generator
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update default 1ES internal pool image to Azure Linux 3
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update default 1ES internal pool image to Azure Linux 3.0 (#1895)
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add image caching documentation and troubleshooting guide
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add tests for the remaining Manifest models
  src/ImageBuilder.Tests/Models/ImageSerializationTests.cs
  src/ImageBuilder.Tests/Models/ManifestSerializationTests.cs
  src/ImageBuilder.Tests/Models/PlatformSerializationTests.cs
  src/ImageBuilder.Tests/Models/RepoSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSyndicationSerializationTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Readme serialization tests
  src/ImageBuilder.Tests/Models/ReadmeSerializationTests.cs
  src/ImageBuilder.Tests/Models/SerializationHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify Models.Subscription name reference
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add CustomBuildLegGroup serialization tests
  src/ImageBuilder.Tests/Models/CustomBuildLegGroupSerializationTests.cs
  src/ImageBuilder.Tests/Models/SerializationHelper.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add serialization tests for Tag
  src/ImageBuilder.Tests/Models/SerializationHelper.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use file-scoped namespaces in Manifest models
  src/ImageBuilder/Models/Manifest/Architecture.cs
  src/ImageBuilder/Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder/Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder/Models/Manifest/Image.cs
  src/ImageBuilder/Models/Manifest/Manifest.cs
  src/ImageBuilder/Models/Manifest/OS.cs
  src/ImageBuilder/Models/Manifest/PackageQueryInfo.cs
  src/ImageBuilder/Models/Manifest/Platform.cs
  src/ImageBuilder/Models/Manifest/Repo.cs
  src/ImageBuilder/Models/Manifest/Tag.cs
  src/ImageBuilder/Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder/Models/Manifest/TagSyndication.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix Manifest model file headers
  src/ImageBuilder/Models/Manifest/PackageQueryInfo.cs
  src/ImageBuilder/Models/Manifest/Readme.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use more common file header template
  .editorconfig
  src/ImageBuilder.Models/Manifest.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused PackageQueryInfo class (#1898)
  src/ImageBuilder/Models/Manifest/PackageQueryInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix typos in Manifest model descriptions
  src/ImageBuilder/Models/Manifest/Manifest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove some service connection arguments
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove "acr" service connection for build command
  eng/docker-tools/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Output appsettings.json during ImageBuilder setup
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove default service connection arg
  eng/docker-tools/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pass publishConfig to init template in publish job
  eng/docker-tools/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Convert to long form template parameters
  eng/docker-tools/templates/steps/init-docker-linux.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Json value handling
  src/ImageBuilder/JsonHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Adjust serialization tests to match new behavior
  src/ImageBuilder.Tests/ImageArtifactDetailsTests.cs
  src/ImageBuilder.Tests/Models/ImageSerializationTests.cs
  src/ImageBuilder.Tests/Models/ManifestSerializationTests.cs
  src/ImageBuilder.Tests/Models/PlatformSerializationTests.cs
  src/ImageBuilder.Tests/Models/ReadmeSerializationTests.cs
  src/ImageBuilder.Tests/Models/RepoSerializationTests.cs
  src/ImageBuilder.Tests/Models/SerializationHelper.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSyndicationSerializationTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update publishConfig parameters to match new names
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/pipelines/templates/stages/build-test-publish.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add publish configuration to windows
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add tests for Manifest serialization and deserialization (#1899)
  .editorconfig
  src/ImageBuilder.Models/Manifest.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/ImageArtifactDetailsTests.cs
  src/ImageBuilder.Tests/Models/CustomBuildLegGroupSerializationTests.cs
  src/ImageBuilder.Tests/Models/ImageSerializationTests.cs
  src/ImageBuilder.Tests/Models/ManifestSerializationTests.cs
  src/ImageBuilder.Tests/Models/PlatformSerializationTests.cs
  src/ImageBuilder.Tests/Models/ReadmeSerializationTests.cs
  src/ImageBuilder.Tests/Models/RepoSerializationTests.cs
  src/ImageBuilder.Tests/Models/SerializationHelper.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSyndicationSerializationTests.cs
  src/ImageBuilder/JsonHelper.cs
  src/ImageBuilder/Models/Manifest/Architecture.cs
  src/ImageBuilder/Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder/Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder/Models/Manifest/Image.cs
  src/ImageBuilder/Models/Manifest/Manifest.cs
  src/ImageBuilder/Models/Manifest/OS.cs
  src/ImageBuilder/Models/Manifest/Platform.cs
  src/ImageBuilder/Models/Manifest/Readme.cs
  src/ImageBuilder/Models/Manifest/Repo.cs
  src/ImageBuilder/Models/Manifest/Tag.cs
  src/ImageBuilder/Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder/Models/Manifest/TagSyndication.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Put appsettings.json in the default working directory
  eng/docker-tools/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Place appsettings.json in repo root/working directory
  eng/docker-tools/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
