Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Upload the empty config blob once per repository
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Report the Attach Lifecycle Metadata step in the post-publish notification
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make waiting for ingestion a queue-time parameter in the manual EOL pipeline
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/templates/stages/annotate-eol-digests.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Skip resolving digest references when fetching referrers
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Treat existing lifecycle metadata as done for published and all
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add replacement MAR ingestion test
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Expand lifecycle metadata file tests
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Document lifecycle metadata command migration
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle syndication at image level instead of tag level
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ImageArtifactDetailsTests.cs
  src/ImageBuilder.Tests/ImageInfoHelperTests.cs
  src/ImageBuilder.Tests/IngestKustoImageInfoCommandTests.cs
  src/ImageBuilder.Tests/ManifestInfoTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/Models/ImageSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSyndicationSerializationTests.cs
  src/ImageBuilder.Tests/PublishImageInfoCommandTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder.Tests/Signing/VerifySignaturesCommandTests.cs
  src/ImageBuilder.Tests/WaitForMcrImageIngestionCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/IngestKustoImageInfoCommand.cs
  src/ImageBuilder/Commands/Signing/VerifySignaturesCommand.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionCommand.cs
  src/ImageBuilder/ImageInfoHelper.cs
  src/ImageBuilder/ImageInfoMergeExtensions.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/ManifestListHelper.cs
  src/ImageBuilder/Models/Image/ManifestData.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
  src/ImageBuilder/ViewModel/ImageInfo.cs
  src/ImageBuilder/ViewModel/TagInfo.cs
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add regression test for syndicated EOL metadata
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Preserve syndication in image info
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/ImageArtifactDetailsTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/ImageInfoHelper.cs
  src/ImageBuilder/ImageInfoMergeExtensions.cs
  src/ImageBuilder/Models/Image/ImageData.cs
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move syndication from tags to images (#2255)
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ImageArtifactDetailsTests.cs
  src/ImageBuilder.Tests/ImageInfoHelperTests.cs
  src/ImageBuilder.Tests/IngestKustoImageInfoCommandTests.cs
  src/ImageBuilder.Tests/ManifestInfoTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/Models/ImageSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSerializationTests.cs
  src/ImageBuilder.Tests/Models/TagSyndicationSerializationTests.cs
  src/ImageBuilder.Tests/PublishImageInfoCommandTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder.Tests/Signing/VerifySignaturesCommandTests.cs
  src/ImageBuilder.Tests/WaitForMcrImageIngestionCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/IngestKustoImageInfoCommand.cs
  src/ImageBuilder/Commands/Signing/VerifySignaturesCommand.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionCommand.cs
  src/ImageBuilder/ImageInfoHelper.cs
  src/ImageBuilder/ImageInfoMergeExtensions.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/ManifestListHelper.cs
  src/ImageBuilder/Models/Image/ImageData.cs
  src/ImageBuilder/Models/Image/ManifestData.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
  src/ImageBuilder/ViewModel/ImageInfo.cs
  src/ImageBuilder/ViewModel/TagInfo.cs
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
