Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Only treat failed image requests as cache miss when response status code is 404
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/ImageCacheService.cs
  src/ImageBuilder/RegistryApiClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use M.E.Logging message templates instead of string interpolation in ImageCacheService
  src/ImageBuilder/ImageCacheService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add XML documentation to ImageCacheService and RegistryApiClient
  src/ImageBuilder/ImageCacheService.cs
  src/ImageBuilder/RegistryApiClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix slow tests by adding IAcrRegistryImporter abstraction
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/AcrRegistryImporter.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/IAcrRegistryImporter.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename AcrRegistryImporter to AcrImageImporter
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/AcrImageImporter.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/IAcrImageImporter.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable signing for ImageBuilder container image (#1994)
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add documentation for enabling signing (#1993)
  documentation/images/request-signing-approval.png
  documentation/signing.md
  eng/docker-tools/templates/variables/dotnet/common.yml
  src/ImageBuilder/Configuration/SigningConfiguration.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Enable skipping pre-build validation tests separately from functional tests
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/test-images-linux-client.yml
  eng/docker-tools/templates/variables/common-paths.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/run-tests.ps1
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Enable skipping pre-build validation tests separately from functional tests (#1997)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/test-images-linux-client.yml
  eng/docker-tools/templates/variables/common-paths.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/run-tests.ps1
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use Arcade to install .NET SDK
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix matrix trimming false-negative cache misses when registry authentication fails (#1995)
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/ImageCacheService.cs
  src/ImageBuilder/RegistryApiClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix slow tests by adding `IAcrImageImporter` abstraction (#1996)
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder/AcrImageImporter.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/IAcrImageImporter.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1998)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

bump System.Linq.Async version
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update C# instructions with more details around naming preferences
  .github/instructions/csharp.instructions.md
Due: none

Place private types at the end of containing classes
  .github/instructions/csharp.instructions.md
Due: none

Update C# instructions to prefer explicit type declarations
  .github/instructions/csharp.instructions.md
Due: none

Import referrers
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2000)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Copy referrers in CopyImageService (#2003)
  .github/instructions/csharp.instructions.md
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2004)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Package ImageBuilder as dotnet tool
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-pr.yml
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Bump version to 0.3.0
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update CHANGELOG
  eng/docker-tools/CHANGELOG.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Install 9.0 runtime to use 9.0 TFM
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Un-set AssemblyName
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

add script logging for troubleshooting
  eng/common/tools.ps1
  eng/common/tools.sh
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix PreBuildValidation to use preBuildTestScriptPath for execution
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "add script logging for troubleshooting"
  eng/common/tools.ps1
  eng/common/tools.sh
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix to install runtimes from global.json
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unneeded System.Linq.Async workaround
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add per-job service connection references for OIDC token requests
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/steps/reference-service-connections.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add service connection references to build, publish, and sign jobs
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/jobs/sign-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix reference-service-connections for Windows: use ps instead of pscore
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/steps/reference-service-connections.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Thread additionalServiceConnections to publish job for OIDC references
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/reference-service-connections.yml
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
