Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Fix path to build script in build.ps1
  src/build.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix path to build script in build.ps1 (#1930)
  src/build.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused scope argument from TokenCredentialProvider
  src/ImageBuilder/AcrContentClientFactory.cs
  src/ImageBuilder/AzureScopes.cs
  src/ImageBuilder/AzureTokenCredentialProvider.cs
  src/ImageBuilder/AzureTokenCredentialProviderExtensions.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/IAzureTokenCredentialProvider.cs
  src/ImageBuilder/McrStatusClient.cs
  src/ImageBuilder/RegistryCredentialsProvider.cs
  src/ImageBuilder/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reorder expressions more logically
  src/ImageBuilder/AzureTokenCredentialProviderExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make copilot instructions more concise
  .github/copilot-instructions.md
Due: none

Remove unused scope argument from TokenCredentialProvider (#1926)
  src/ImageBuilder/AcrContentClientFactory.cs
  src/ImageBuilder/AzureScopes.cs
  src/ImageBuilder/AzureTokenCredentialProvider.cs
  src/ImageBuilder/AzureTokenCredentialProviderExtensions.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/IAzureTokenCredentialProvider.cs
  src/ImageBuilder/McrStatusClient.cs
  src/ImageBuilder/RegistryCredentialsProvider.cs
  src/ImageBuilder/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Treat Windows tags exactly like Linux tags in generated tags tables (#1928)
  src/ImageBuilder.Tests/McrTagsMetadataGeneratorTests.cs
  src/ImageBuilder/Commands/GenerateReadmesCommand.cs
  src/ImageBuilder/Commands/PublishMcrDocsCommand.cs
  src/ImageBuilder/Mcr/McrTagsMetadataGenerator.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update `Function.CreatePure` to `Function.CreatePureMinMax` in GenerateArtifactsCommand.cs
  src/ImageBuilder/Commands/GenerateArtifactsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update public Amd64 build image to Azure-Linux-3-Amd64-Public
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Update public Amd64 build image to Azure-Linux-3-Amd64-Public"
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Update public Amd64 build image to Azure-Linux-3-Amd64-Public" (d6402b17) (#1935)
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update public Amd64 build image to Azure-Linux-3-Amd64-Public (#1936)
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update arm64 and arm32 builds from Mariner 2 to Azure Linux 3 (#1920)
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1929)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use public pool for publish stage instead of vmImage
  eng/docker-tools/templates/stages/dotnet/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix Publish job to use NetCore-Public pool in PR validation (#1942)
  eng/docker-tools/templates/stages/dotnet/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate Manifest models from ImageBuilder to ImageBuilder.Models
  src/ImageBuilder.Models/Manifest.cs
  src/ImageBuilder.Models/Manifest/Architecture.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Manifest/OS.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Readme.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Bump package version
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add ImageBuilder.Models project to Dockerfiles
  src/Dockerfile.linux
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add ENV variable for NuGet package cache to address Windows path length limitations
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update default 1ES internal pool image to Azure Linux 3.0 (again) (#1934)
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate Manifest models from ImageBuilder to ImageBuilder.Models (#1943)
  eng/Versions.props
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Models/Manifest.cs
  src/ImageBuilder.Models/Manifest/Architecture.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Manifest/OS.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Readme.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add Renovate pipeline
  eng/pipelines/renovate.yml
  eng/pipelines/templates/jobs/renovate.yml
  eng/renovate.env
  eng/renovate.json
  src/Dockerfile.linux
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add bootstrap option to imagebuilder pipeline
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-docker.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/stages/build-test-publish.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Build windows ImageBuilder locally
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

pwsh -> powershell
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix windows again
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update image name
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix bootstrap paths for multi-repo checkout
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update eng/pipelines/templates/jobs/renovate.yml
  eng/pipelines/templates/jobs/renovate.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix repo name
  eng/pipelines/renovate.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add repoRoot and versionsRepoRoot variables for multi-repo checkout
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Rename parameter
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-docker.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clarify comments
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Run image builder setup via customInitSteps
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-docker.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Consolidate init steps
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-docker.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
