Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Fix github-code-quality review comments
  src/ImageBuilder.Tests/AcrReferrerRateLimitingTests.cs
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/RateLimiting/AcrReferrerRateLimiter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix test: replace [Fact] attributes with [TestMethod]
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add platform validation for multi-arch manifests in Post_Build stage (#2126)
  eng/docker-tools/DEV-GUIDE.md
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/ManifestListHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Cache tokens and use Azure SDK for OAuth exchange to handle 429 errors
  src/ImageBuilder/ConcurrentDictionaryExtensions.cs
  src/ImageBuilder/IRegistryCredentialsProvider.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/ImageBuilder/OAuthHelper.cs
  src/ImageBuilder/RegistryCredentialsProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Only rate limit ACR referrer lookup requests (#2143)
  eng/docker-tools/CHANGELOG.md
  src/ImageBuilder.Tests/AcrRateLimitingTests.cs
  src/ImageBuilder.Tests/AcrReferrerRateLimitingTests.cs
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/AcrClientFactory.cs
  src/ImageBuilder/AcrContentClientFactory.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ConcurrentDictionaryExtensions.cs
  src/ImageBuilder/Configuration/RegistryAuthentication.cs
  src/ImageBuilder/IRegistryCredentialsProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/ImageBuilder/OAuthHelper.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/RateLimiting/AcrParallelism.cs
  src/ImageBuilder/RateLimiting/AcrRateLimiter.cs
  src/ImageBuilder/RateLimiting/AcrRateLimitingHandler.cs
  src/ImageBuilder/RateLimiting/AcrRateLimitingPolicy.cs
  src/ImageBuilder/RateLimiting/AcrReferrerRateLimiter.cs
  src/ImageBuilder/RateLimiting/AcrReferrerRateLimitingHandler.cs
  src/ImageBuilder/RegistryCredentialsProvider.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2136)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Publish image info as OCI artifact
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  src/ImageBuilder.Models/Manifest/ImageInfoArtifact.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/Models/ImageInfoArtifactSerializationTests.cs
  src/ImageBuilder.Tests/Models/ManifestSerializationTests.cs
  src/ImageBuilder.Tests/PublishConfigurationBindingTests.cs
  src/ImageBuilder.Tests/PublishImageInfoArtifactCommandTests.cs
  src/ImageBuilder/Commands/PublishImageInfoArtifactCommand.cs
  src/ImageBuilder/Configuration/RegistryEndpoint.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/IManifestJsonService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/PathHelper.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix image info artifact docs
  src/ImageBuilder/IImageInfoService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Keep publish image info task name
  eng/docker-tools/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Focus image info artifact tests
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/Models/ImageInfoArtifactSerializationTests.cs
  src/ImageBuilder.Tests/Models/ManifestSerializationTests.cs
  src/ImageBuilder.Tests/PublishImageInfoArtifactCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused using
  src/ImageBuilder/ManifestJsonService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Bump manifest package version
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Address image info artifact review comments
  src/ImageBuilder/Commands/PublishImageInfoArtifactCommand.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/Oras/IOrasService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Publish image info as OCI artifact (#2155)
  eng/Versions.props
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  src/ImageBuilder.Models/Manifest/ImageInfoArtifact.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/Models/ImageInfoArtifactSerializationTests.cs
  src/ImageBuilder.Tests/PublishConfigurationBindingTests.cs
  src/ImageBuilder.Tests/PublishImageInfoArtifactCommandTests.cs
  src/ImageBuilder/Commands/PublishImageInfoArtifactCommand.cs
  src/ImageBuilder/Configuration/RegistryEndpoint.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/IManifestJsonService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/PathHelper.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add documentation
  documentation/git-interface-design.md
  documentation/versiontools-migration.md
Due: none

Add property testing review
  documentation/property-test-review.md
Due: none

Add GitHub implementation
  src/ImageBuilder.Automation.Tests/FakePullRequestApi.cs
  src/ImageBuilder.Automation.Tests/RealWorld.cs
  src/ImageBuilder.Automation.Tests/RepoHostEquivalenceTests.cs
  src/ImageBuilder.Automation/GitHubRepoHost.cs
  src/ImageBuilder.Automation/GitRunner.cs
  src/ImageBuilder.Automation/GitWorkspace.cs
  src/ImageBuilder.Automation/Microsoft.DotNet.ImageBuilder.Automation.csproj
  src/ImageBuilder.Automation/PullRequestApi.cs
  src/ImageBuilder.Automation/README.md
  src/ImageBuilder.Automation/RepoHostEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add property tests for automation library
  src/ImageBuilder.Automation.Tests/AutomationGen.cs
  src/ImageBuilder.Automation.Tests/FsTree.cs
  src/ImageBuilder.Automation.Tests/GlobalUsings.cs
  src/ImageBuilder.Automation.Tests/Microsoft.DotNet.ImageBuilder.Automation.Tests.csproj
  src/ImageBuilder.Automation.Tests/ModelRepo.cs
  src/ImageBuilder.Automation.Tests/ModelRepoHost.cs
  src/ImageBuilder.Automation.Tests/RemoteRepoUrlPropertyTests.cs
  src/ImageBuilder.Automation.Tests/RepoHostPropertyTests.cs
  src/ImageBuilder.Automation.Tests/TreeDelta.cs
  src/ImageBuilder.Automation/EnsureResult.cs
  src/ImageBuilder.Automation/Microsoft.DotNet.ImageBuilder.Automation.csproj
  src/ImageBuilder.Automation/PullRequestSpec.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add AzdoRepoHost implementation
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.Automation.IntegrationTest/Microsoft.DotNet.ImageBuilder.Automation.IntegrationTest.csproj
  src/ImageBuilder.Automation.IntegrationTest/Program.cs
  src/ImageBuilder.Automation.Tests/AzdoPullRequestApiTests.cs
  src/ImageBuilder.Automation/AzdoRepoHost.cs
  src/ImageBuilder.Automation/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add ImageBuilder.Automation library
  AGENTS.md
  Microsoft.DotNet.DockerTools.slnx
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/FilePusher.cs
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Automation.Tests/GlobalUsings.cs
  src/ImageBuilder.Automation.Tests/Microsoft.DotNet.ImageBuilder.Automation.Tests.csproj
  src/ImageBuilder.Automation/AzdoRepoHost.cs
  src/ImageBuilder.Automation/BranchSpec.cs
  src/ImageBuilder.Automation/EnsureResult.cs
  src/ImageBuilder.Automation/GitAutomationOptions.cs
  src/ImageBuilder.Automation/GitException.cs
  src/ImageBuilder.Automation/GitHubRepoHost.cs
  src/ImageBuilder.Automation/IRepoHost.cs
  src/ImageBuilder.Automation/Microsoft.DotNet.ImageBuilder.Automation.csproj
  src/ImageBuilder.Automation/PullRequestSpec.cs
  src/ImageBuilder.Automation/README.md
  src/ImageBuilder.Automation/RemoteRepo.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/PublishMcrDocsCommandTests.cs
  src/ImageBuilder/Commands/PublishMcrDocsCommand.cs
  src/ImageBuilder/GitHelper.cs
  src/ImageBuilder/GitHubClientFactory.cs
  src/ImageBuilder/IGitHubClientFactory.cs
  src/ImageBuilder/IRepoHostFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/ImageBuilder/RepoHostFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add ORAS pull primitives for OCI artifacts
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifact.cs
  src/ImageBuilder/Oras/OciBlob.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add PullImageInfoArtifactAsync to ImageInfoService
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/ImageInfoService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume image-info OCI artifact in BuildCommand
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume image-info OCI artifact in generateBuildMatrix
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused ImageInfo GitFile from Subscription model
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Models/Subscription/Subscription.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume image-info OCI artifact in mergeImageInfo
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume image-info OCI artifact in getStaleImages
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consolidate docker-tools update pipelines into a single update flow
  AGENTS.md
  Microsoft.DotNet.DockerTools.slnx
  eng/docker-tools-update-config.json
  eng/image-builder-tag-update-config.json
  eng/pipelines/push-common-updates.yml
  eng/pipelines/update-docker-tools.yml
  eng/pipelines/update-image-builder-tag.yml
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/Options.cs
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Extract shared Cottle document configuration into a helper
  src/ImageBuilder/Commands/GenerateArtifactsCommand.cs
  src/ImageBuilder/Templating/CottleDocumentConfiguration.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extend IFileSystem with directory and stream operations
  src/ImageBuilder.Tests/Helpers/InMemoryFileSystem.cs
  src/ImageBuilder/FileSystem.cs
  src/ImageBuilder/IFileSystem.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Microsoft.DotNet.Automation library
  Microsoft.DotNet.DockerTools.slnx
  src/Automation/BranchOutcome.cs
  src/Automation/BranchResult.cs
  src/Automation/BranchSpec.cs
  src/Automation/ForeignCommitPolicy.cs
  src/Automation/GitAuthor.cs
  src/Automation/GitAutomationOptions.cs
  src/Automation/GitCli.cs
  src/Automation/GitCliResult.cs
  src/Automation/GitCommit.cs
  src/Automation/GitContext.cs
  src/Automation/GitException.cs
  src/Automation/GitHub/GitHubPullRequestApi.cs
  src/Automation/GitHub/GitHubRepo.cs
  src/Automation/GitHub/GitHubRepoHost.cs
  src/Automation/GitWorkspace.cs
  src/Automation/IGitContext.cs
  src/Automation/IPullRequestApi.cs
  src/Automation/IRepoHost.cs
  src/Automation/Microsoft.DotNet.Automation.csproj
  src/Automation/PullRequestInfo.cs
  src/Automation/PullRequestOutcome.cs
  src/Automation/PullRequestResult.cs
  src/Automation/PullRequestSpec.cs
  src/Automation/PullRequestUpdateStrategy.cs
  src/Automation/README.md
  src/Automation/RemoteRepo.cs
  src/Automation/RepoHostEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume Microsoft.DotNet.Automation in ImageBuilder and eng tools
  AGENTS.md
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/FilePusher.cs
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/PublishMcrDocsCommandTests.cs
  src/ImageBuilder/Commands/PublishMcrDocsCommand.cs
  src/ImageBuilder/GitHelper.cs
  src/ImageBuilder/GitHubClientFactory.cs
  src/ImageBuilder/IGitHubClientFactory.cs
  src/ImageBuilder/IRepoHostFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/ImageBuilder/RepoHostFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add ImageBuilder 'update' command to emit bundled docker-tools content
  AGENTS.md
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/AssemblyImageBuilderTagProvider.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/Commands/UpdateOptions.cs
  src/ImageBuilder/IImageBuilderTagProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused FetchBlobAsync method from Oras client
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add PathHelper.SafeCombine
  src/ImageBuilder.Tests/PathHelperTests.cs
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/PathHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix naming violations
  src/ImageBuilder.Tests/UpdateCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume OCI image info in `build`, `generateBuildMatrix`, `getStaleImages`, `mergeImageInfo` commands (#2157)
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/Models/Subscription/Subscription.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifact.cs
  src/ImageBuilder/Oras/OciBlob.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
