Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Add custom Dockerfile label
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/GitHelper.cs
  src/ImageBuilder/GitService.cs
  src/ImageBuilder/IGitService.cs
  src/ImageBuilder/ImageBuilderLabels.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle worktrees in GetRepoRoot
  src/ImageBuilder/GitHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Attach build metadata as an OCI referrer artifact
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/ImageBuilderAnnotations.cs
  src/ImageBuilder/ImageBuilderLabels.cs
  src/ImageBuilder/OciAnnotations.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use vnd.microsoft namespace for image metadata annotations
  src/ImageBuilder/ImageBuilderAnnotations.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use empty OCI artifact type for the metadata referrer
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix BuildCommandTests ORAS namespace after rebase
  src/ImageBuilder.Tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Restore BuildCommandTests BOM
  src/ImageBuilder.Tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean up unnecessary post-rebase diffs
  src/ImageBuilder/DockerServiceCache.cs
  src/ImageBuilder/IDockerService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use ImageBuilder artifact type for metadata referrer
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clone PR source repo when appending
  src/Automation/PullRequestManager.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Narrow Automation public API surface
  src/Automation/GitHub/GitHubRepo.cs
  src/Automation/Microsoft.DotNet.Automation.csproj
  src/Automation/Models.cs
  src/Automation/Planner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Require XML docs for Automation public API
  src/Automation/GitHub/GitHubRepo.cs
  src/Automation/IGitContext.cs
  src/Automation/Microsoft.DotNet.Automation.csproj
  src/Automation/Models.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Copilot instructions and skills
  .github/instructions/csharp.instructions.md
  .github/skills/docs-maintenance/SKILL.md
  .github/skills/reviewing-csharp/SKILL.md
  AGENTS.md
Due: none

Update docs-maintenance skill
  .github/skills/docs-maintenance/SKILL.md
Due: none

Fix malformed parameters declaration in set-dry-run.yml (#2160)
  eng/docker-tools/templates/steps/set-dry-run.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix incorrect path in AGENTS.md
  AGENTS.md
Due: none

Update coding agent instructions and skills (#2169)
  .github/instructions/csharp.instructions.md
  .github/skills/docs-maintenance/SKILL.md
  .github/skills/reviewing-csharp/SKILL.md
  AGENTS.md
Due: none

[main] Update Image Builder tag reference (#2156)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add dependency injection support to Automation
  src/Automation.Tests/DependencyInjectionTests.cs
  src/Automation.Tests/Microsoft.DotNet.Automation.Tests.csproj
  src/Automation.Tests/ProcessRunnerExtensionsTests.cs
  src/Automation/Git.cs
  src/Automation/GitContext.cs
  src/Automation/GitHub/GitHubRepoHost.cs
  src/Automation/GitWorkspace.cs
  src/Automation/IGitAccessTokenProvider.cs
  src/Automation/IProcessRunner.cs
  src/Automation/Microsoft.DotNet.Automation.csproj
  src/Automation/ProcessRunner.cs
  src/Automation/ProcessRunnerExtensions.cs
  src/Automation/PullRequestAutomationServiceCollectionExtensions.cs
  src/Automation/PullRequestManager.cs
  src/Automation/README.md
  src/Automation/StaticGitAccessTokenProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Validate pull request key names
  src/Automation/Models.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename Automation library to GitAutomation
  Microsoft.DotNet.DockerTools.slnx
  src/GitAutomation.Tests/DependencyInjectionTests.cs
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation.Tests/ProcessRunnerExtensionsTests.cs
  src/GitAutomation.Tests/PullRequestPropertyTests.cs
  src/GitAutomation/Git.cs
  src/GitAutomation/GitContext.cs
  src/GitAutomation/GitHub/GitHubRepo.cs
  src/GitAutomation/GitHub/GitHubRepoHost.cs
  src/GitAutomation/GitWorkspace.cs
  src/GitAutomation/IGitAccessTokenProvider.cs
  src/GitAutomation/IGitContext.cs
  src/GitAutomation/IProcessRunner.cs
  src/GitAutomation/IRepoHost.cs
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/GitAutomation/Models.cs
  src/GitAutomation/Planner.cs
  src/GitAutomation/ProcessRunner.cs
  src/GitAutomation/ProcessRunnerExtensions.cs
  src/GitAutomation/PullRequestAutomationServiceCollectionExtensions.cs
  src/GitAutomation/PullRequestManager.cs
  src/GitAutomation/README.md
  src/GitAutomation/StaticGitAccessTokenProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove superfluous tests
  src/GitAutomation.Tests/ProcessRunnerExtensionsTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Retry transient signature push failures
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use standard logging registration
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/GitAutomation/PullRequestAutomationServiceCollectionExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove redundant logging abstractions reference
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Trigger package builds for GitAutomation
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-pr.yml
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Version GitAutomation independently
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include GitAutomation README in package
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Only handle immediate symptom of #2168
  src/ImageBuilder.Tests/Oras/OrasDotNetServiceTests.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add `Microsoft.DotNet.GitAutomation` library (#2158)
  Microsoft.DotNet.DockerTools.slnx
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-pr.yml
  src/GitAutomation.Tests/DependencyInjectionTests.cs
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation.Tests/PullRequestPropertyTests.cs
  src/GitAutomation/Git.cs
  src/GitAutomation/GitContext.cs
  src/GitAutomation/GitHub/GitHubRepo.cs
  src/GitAutomation/GitHub/GitHubRepoHost.cs
  src/GitAutomation/GitWorkspace.cs
  src/GitAutomation/IGitAccessTokenProvider.cs
  src/GitAutomation/IGitContext.cs
  src/GitAutomation/IProcessRunner.cs
  src/GitAutomation/IRepoHost.cs
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/GitAutomation/Models.cs
  src/GitAutomation/Planner.cs
  src/GitAutomation/ProcessRunner.cs
  src/GitAutomation/ProcessRunnerExtensions.cs
  src/GitAutomation/PullRequestAutomationServiceCollectionExtensions.cs
  src/GitAutomation/PullRequestManager.cs
  src/GitAutomation/README.md
  src/GitAutomation/StaticGitAccessTokenProvider.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Retry transient signature push failures (#2173)
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update .NET 9 packages to 9.0.18
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extract shared Cottle document configuration into a helper
  src/ImageBuilder/Commands/GenerateArtifactsCommand.cs
  src/ImageBuilder/Templating/CottleDocumentConfiguration.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extend IFileSystem with directory and stream operations
  src/ImageBuilder.Tests/Helpers/InMemoryFileSystem.cs
  src/ImageBuilder/FileSystem.cs
  src/ImageBuilder/IFileSystem.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass ImageBuilder reference as an argument to the update command
  eng/docker-tools/Update-ImageBuilder.ps1
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/AssemblyImageBuilderTagProvider.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/Commands/UpdateOptions.cs
  src/ImageBuilder/IImageBuilderTagProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/Infrastructure/Content/Update-ImageBuilder.ps1
  src/Infrastructure/Content/templates/variables/docker-images.yml
  src/Infrastructure/README.md
  src/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix naming violations
  src/ImageBuilder.Tests/UpdateCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add PathHelper.SafeCombine
  src/ImageBuilder.Tests/PathHelperTests.cs
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/PathHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add ImageBuilder 'update' command to emit bundled docker-tools content
  AGENTS.md
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/AssemblyImageBuilderTagProvider.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/Commands/UpdateOptions.cs
  src/ImageBuilder/IImageBuilderTagProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Sync bundled templates with latest main
  src/Infrastructure/Content/templates/stages/build-and-test.yml
  src/Infrastructure/Content/templates/stages/dotnet/build-and-test.yml
  src/Infrastructure/Content/templates/stages/dotnet/build-test-publish-repo.yml
  src/Infrastructure/Content/templates/steps/set-dry-run.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
