Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Replace RegistryHttpClient with the OrasProject.Oras implementation (#2117)
  src/ImageBuilder.Tests/Oras/OrasCredentialProviderAdapterTests.cs
  src/ImageBuilder.Tests/RegistryManifestClientFactoryTests.cs
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/IAcrContentClient.cs
  src/ImageBuilder/IHttpClientProvider.cs
  src/ImageBuilder/IRegistryManifestClient.cs
  src/ImageBuilder/IRegistryManifestClientFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ManifestService.cs
  src/ImageBuilder/ManifestServiceFactory.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/IOrasServiceFactory.cs
  src/ImageBuilder/Oras/OrasCredentialProviderAdapter.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/OrasServiceFactory.cs
  src/ImageBuilder/RegistryApiClient.cs
  src/ImageBuilder/RegistryHttpClient.cs
  src/ImageBuilder/RegistryManifestClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Set SYSTEM_ACCESSTOKEN
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Route getStaleImages base lookups through staging mirror
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/stages/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use ImageNameResolver for staging mirror lookups in getStaleImages
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Cache only the SHA in GetStaleImagesCommand digest lookup
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add bootstrap
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/stages/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove BaseImageOverrideOptions and --base-override-regex/--base-override-sub
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/steps/init-common.yml
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/CopyBaseImagesCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder/Commands/BaseImageOverrideOptions.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/Commands/CopyBaseImagesOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/ImageNameResolver.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Drive source-mirror selection from PublishConfiguration
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/PublishConfigurationBindingTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Configuration/PublishConfiguration.cs
  src/ImageBuilder/Configuration/RegistryEndpoint.cs
  src/ImageBuilder/ImageNameResolver.cs
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reformat some stuff
  eng/docker-tools/CHANGELOG.md
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update changelog
  eng/docker-tools/CHANGELOG.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove all usage of (Public|Internal)MirrorRegistry
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2118)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix up logging messages
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor/rename for better understanding
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use ImageNameResolver for staging mirror lookups in getStaleImages
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use new CLI options for registry override
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Write build matrix variables directly to stdout
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Write build matrix variables directly to stdout (#2125)
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2122)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add platform validation for multi-arch manifests in Post_Build stage
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/CreateManifestListOptions.cs
  src/ImageBuilder/ManifestListHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Import missing platforms for manifest list creation during partial builds
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/ViewModel/PlatformInfoExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Check base images using mirror registry instead of public DockerHub (#2119)
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Change --validate-manifest-list-platforms to standard behavior
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/CreateManifestListOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Improve logging
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix/improve logging display
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/ViewModel/TagInfoExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove dry-run test that's just a change detector
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2129)
  eng/docker-tools/templates/variables/docker-images.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/stages/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Import missing platforms for manifest list creation during partial builds (#2128)
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/ViewModel/PlatformInfoExtensions.cs
  src/ImageBuilder/ViewModel/TagInfoExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
