Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Fix signing stage failure on Azure Linux 3 agent image
  eng/docker-tools/templates/steps/init-signing-linux.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Extract pool/signing variables into reusable template (#2032)
  eng/docker-tools/templates/variables/dnceng-build-pools.yml
  eng/docker-tools/templates/variables/dnceng-project-names.yml
  eng/docker-tools/templates/variables/dnceng-signing.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

test
  eng/init-sdk.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Move signing docker options to run-imagebuilder parameter
  eng/docker-tools/templates/jobs/sign-images.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-signing-linux.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix Install-DotNetSdk.ps1 to create parent directories
  eng/docker-tools/Install-DotNetSdk.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

In steps/clean-acr-images, use dryRunArg to fit pipeline usage
  eng/docker-tools/templates/steps/clean-acr-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Address review feedback on signing pipeline changes
  eng/docker-tools/templates/jobs/sign-images.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-signing-linux.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Apply suggestions from code review
  eng/docker-tools/templates/steps/init-signing-linux.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Keep runImageBuilderCmd backward-compatible, add base command variables
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

In steps/clean-acr-images, use dryRunArg to fit pipeline usage (#2035)
  eng/docker-tools/templates/steps/clean-acr-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix default value of skipDotNetInstall parameter
  eng/docker-tools/templates/jobs/cg-build-projects.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove RepoRoot parameter
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "test"
  eng/init-sdk.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix signing stage failure on Azure Linux 3 (#2036)
  eng/docker-tools/Install-DotNetSdk.ps1
  eng/docker-tools/templates/jobs/sign-images.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-signing-linux.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Factoring .NET SDK installation to reusable script (#2033)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/init-sdk.ps1
  eng/pipelines/cg-detection.yml
  src/run-tests.ps1
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Extract IImageNameResolver interface and unify implementation
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/DockerHelper.cs
  src/ImageBuilder/IImageNameResolver.cs
  src/ImageBuilder/ImageCacheService.cs
  src/ImageBuilder/ImageNameResolver.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update CHANGELOG
  eng/docker-tools/CHANGELOG.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipelines to use imagebuilder executable name
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/Invoke-ImageBuilder.ps1
  eng/docker-tools/templates/steps/cleanup-docker-windows.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add image caching documentation and troubleshooting guide (#1897)
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip signing for already-signed digests
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/ReferrerInfo.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Create manifest lists for all images, not just changed
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/ManifestListHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused using
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update eng-validation-unofficial pipeline
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix test build issues
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix nullable safety in ManifestListHelper platform lookup
  src/ImageBuilder/ManifestListHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Guard against null ImageInfoPath in CopyAcrImagesCommand
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary Docker login from CleanAcrImagesCommand
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor for better readability
  src/ImageBuilder/ManifestListHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove secret manager pipeline and dotnet tool (#2043)
  .config/dotnet-tools.json
  .vault-config/secrets.yaml
  eng/pipelines/secret-management-weekly.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix pruneEol not deleting expired images due to oras output format change
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Models/Oras/OrasDiscoverData.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix pruneEol not deleting expired images due to oras output format change (#2046)
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Models/Oras/OrasDiscoverData.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary Docker login from CleanAcrImagesCommand (#2044)
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move manifest list creation to Post_Build, copy via ACR import (#2030)
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/ManifestListHelperTests.cs
  src/ImageBuilder.Tests/PublishManifestCommandTests.cs
  src/ImageBuilder.Tests/Signing/ImageSigningServiceTests.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/CreateManifestListOptions.cs
  src/ImageBuilder/Commands/PublishManifestCommand.cs
  src/ImageBuilder/Commands/PublishManifestOptions.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/ManifestListHelper.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/ReferrerInfo.cs
  src/ImageBuilder/Signing/ImageSigningService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused VersionsRepo resource from unofficial pipeline
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Disable publishReadme in eng-validation-unofficial
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use correct executable name inside Dockerfile
  src/Dockerfile.linux
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use correct Image Builder executable name inside Dockerfile (#2048)
  src/Dockerfile.linux
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
