Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Fix WithGitHubAuth to use description and isRequired parameters
  src/ImageBuilder/Commands/GitOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rewrite GitOptions tests to use GitOptionsBuilder directly
  src/ImageBuilder.Tests/Commands/GitOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

WIP: Build options binding tests
  src/ImageBuilder.Tests/Commands/BuildOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update BuildOptionsBindingTests using and header
  src/ImageBuilder.Tests/Commands/BuildOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor GitOptionsBindingTests to actually test binding
  src/ImageBuilder.Tests/Commands/GitOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor GitOptions to not require null-forgiving operator and private fields
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Commands/GitOptions.cs
  src/ImageBuilder/Commands/PublishImageInfoOptions.cs
  src/ImageBuilder/Commands/PublishMcrDocsOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Convert to file-scoped namespace and rewrap strings
  src/ImageBuilder/Commands/GitOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add OptionsBindingTestHelper
  src/ImageBuilder.Tests/Commands/BuildOptionsBindingTests.cs
  src/ImageBuilder.Tests/Commands/GitOptionsBindingTests.cs
  src/ImageBuilder.Tests/Commands/OptionsBindingTestHelper.cs
  src/ImageBuilder.Tests/Commands/ServiceConnectionOptionsBindingTests.cs
  src/ImageBuilder.Tests/Signing/SignImagesOptionsBindingTests.cs
  src/ImageBuilder.Tests/Signing/VerifySignaturesOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reorganize Signing tests and CommandLine options tests
  src/ImageBuilder.Tests/CommandLine/BuildOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/GitOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/OptionsBindingTestHelper.cs
  src/ImageBuilder.Tests/CommandLine/ServiceConnectionOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/SignImagesOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/VerifySignaturesOptionsBindingTests.cs
  src/ImageBuilder.Tests/Signing/VerifySignaturesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update System.CommandLine to 2.0.7
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reduce lines of code used in some tests
  src/ImageBuilder.Tests/CommandLine/BuildOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/GitOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/ServiceConnectionOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/SignImagesOptionsBindingTests.cs
  src/ImageBuilder.Tests/CommandLine/VerifySignaturesOptionsBindingTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Combine SystemCommandLineExtensions classes
  src/ImageBuilder/Commands/SystemCommandLineExtensions.cs
  src/ImageBuilder/SystemCommandLineExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Inline CliHelper.FormatAlias
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/AzdoOptions.cs
  src/ImageBuilder/Commands/BaseImageOverrideOptions.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
  src/ImageBuilder/Commands/CliHelper.cs
  src/ImageBuilder/Commands/CopyAcrImagesOptions.cs
  src/ImageBuilder/Commands/DockerfileFilterOptions.cs
  src/ImageBuilder/Commands/GenerateArtifactsOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataOptions.cs
  src/ImageBuilder/Commands/GenerateReadmesOptions.cs
  src/ImageBuilder/Commands/GetBaseImageStatusOptions.cs
  src/ImageBuilder/Commands/GitOptions.cs
  src/ImageBuilder/Commands/IngestKustoImageInfoOptions.cs
  src/ImageBuilder/Commands/ManifestOptions.cs
  src/ImageBuilder/Commands/MarIngestionOptions.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
  src/ImageBuilder/Commands/Options.cs
  src/ImageBuilder/Commands/PlatformFilterOptions.cs
  src/ImageBuilder/Commands/PostPublishNotificationOptions.cs
  src/ImageBuilder/Commands/PublishMcrDocsOptions.cs
  src/ImageBuilder/Commands/PullImagesOptions.cs
  src/ImageBuilder/Commands/QueueBuildCommand.cs
  src/ImageBuilder/Commands/QueueBuildOptions.cs
  src/ImageBuilder/Commands/RegistryCredentialsOptions.cs
  src/ImageBuilder/Commands/RegistryOptions.cs
  src/ImageBuilder/Commands/ServiceConnectionOptionsBuilder.cs
  src/ImageBuilder/Commands/SubscriptionOptions.cs
  src/ImageBuilder/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/ImageBuilder/Commands/WaitForMcrDocIngestionOptions.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Normalize header
  src/ImageBuilder/Commands/CliHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused DotNet releases dependency
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused DotNet releases dependency (#2102)
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix ImageBuilder test toolset resolution
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix ImageBuilder test toolset resolution (#2105)
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add script to get failing pipelines
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add script to get all pipeline runs in a time period
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Adjust header levels
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add script for showing pull request comments
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update formatting in pull request comment script
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add skills for investigating pull requests and triaging pipelines
  .github/skills/investigating-pipeline/SKILL.md
  .github/skills/investigating-pull-request/SKILL.md
  .github/skills/triaging-pipelines/SKILL.md
  .github/skills/triaging-pull-requests/SKILL.md
Due: none

Remove disable-model-invocation
  .github/skills/triaging-pipelines/SKILL.md
  .github/skills/triaging-pull-requests/SKILL.md
Due: none

[main] Update Image Builder tag reference (#2106)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Log unhandled exceptions inside command line action handler
  src/ImageBuilder/Commands/Command.TOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update comment
  src/ImageBuilder/Commands/Command.TOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add skills and helper scripts for triaging pipelines and pull requests (#2113)
  .github/skills/investigating-pipeline/SKILL.md
  .github/skills/investigating-pull-request/SKILL.md
  .github/skills/triaging-pipelines/SKILL.md
  .github/skills/triaging-pull-requests/SKILL.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Allow publishing images without rerunning Sign stage
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/stages/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Allow publishing images without (re-)running Sign stage (#2115)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/stages/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Log unhandled exceptions thrown from command actions (#2114)
  src/ImageBuilder/Commands/Command.TOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#2116)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Replace RegistryHttpClient with the OrasProject.Oras implementation
  src/ImageBuilder.Tests/RegistryManifestClientFactoryTests.cs
  src/ImageBuilder/HttpClientProvider.cs
  src/ImageBuilder/IAcrContentClient.cs
  src/ImageBuilder/IHttpClientProvider.cs
  src/ImageBuilder/IRegistryManifestClient.cs
  src/ImageBuilder/IRegistryManifestClientFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ManifestService.cs
  src/ImageBuilder/ManifestServiceFactory.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/IOrasServiceFactory.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/OrasServiceFactory.cs
  src/ImageBuilder/RegistryApiClient.cs
  src/ImageBuilder/RegistryHttpClient.cs
  src/ImageBuilder/RegistryManifestClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Normalize DockerHub registry in credential adapter
  src/ImageBuilder.Tests/Oras/OrasCredentialProviderAdapterTests.cs
  src/ImageBuilder/ManifestService.cs
  src/ImageBuilder/ManifestServiceFactory.cs
  src/ImageBuilder/Oras/OrasCredentialProviderAdapter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
