Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Apply suggestions from code review
  src/Automation/GitWorkspace.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix malformed parameters declaration in set-dry-run.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add Automation tests
  Microsoft.DotNet.DockerTools.slnx
  src/Automation.Tests/AutomationHarness.cs
  src/Automation.Tests/AutomationHarnessTests.cs
  src/Automation.Tests/FakePullRequestApi.cs
  src/Automation.Tests/GitRunner.cs
  src/Automation.Tests/GitTestRepo.cs
  src/Automation.Tests/GlobalUsings.cs
  src/Automation.Tests/LocalRemoteRepo.cs
  src/Automation.Tests/Microsoft.DotNet.Automation.Tests.csproj
  src/Automation.Tests/TestParallelization.cs
  src/Automation/GitHub/GitHubRepo.cs
  src/Automation/GitHub/GitHubRepoHost.cs
  src/Automation/IPullRequestApi.cs
  src/Automation/PullRequestInfo.cs
  src/Automation/RemoteRepo.cs
  src/Automation/RepoHostEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass ImageBuilder reference as an argument to the update command
  eng/docker-tools/Update-ImageBuilder.ps1
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/UpdateCommandTests.cs
  src/ImageBuilder/AssemblyImageBuilderTagProvider.cs
  src/ImageBuilder/Commands/UpdateCommand.cs
  src/ImageBuilder/Commands/UpdateOptions.cs
  src/ImageBuilder/IImageBuilderTagProvider.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/Infrastructure/Content/Update-ImageBuilder.ps1
  src/Infrastructure/Content/templates/variables/docker-images.yml
  src/Infrastructure/README.md
  src/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Document image-info OCI artifact consumption
  AGENTS.md
  documentation/base-image-dependency-flow.md
  eng/docker-tools/DEV-GUIDE.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipeline templates to consume image-info OCI artifact
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Only pull OCI image-info in generateBuildMatrix when trimming
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Always pass image-info registry override for internal matrix builds
  eng/docker-tools/templates/jobs/generate-matrix.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pull build-time image-info from the publish registry
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve OCI image-info source from PublishConfiguration everywhere
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Resolve build-time image-info source from PublishConfiguration
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve getStaleImages image-info source from PublishConfiguration
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve generateBuildMatrix image-info source from PublishConfiguration
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve mergeImageInfo image-info source from PublishConfiguration
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Only pull image-info in generateBuildMatrix when trimming
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Only pull initial image-info in mergeImageInfo when publishing
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix redundant condition
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Tie image-info repo prefix to the resolved registry
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Centralize image info registry resolution
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/ImageInfoService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make BuildCommand less stateful and lift some control flow into ExecuteAsync
  src/ImageBuilder/Commands/Build/ImageArtifactDetailsExtensions.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Push images immediately after building
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add labels to images
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/DockerService.cs
  src/ImageBuilder/DockerServiceCache.cs
  src/ImageBuilder/IDockerService.cs
  src/ImageBuilder/OciAnnotations.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add custom Dockerfile label
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/GitHelper.cs
  src/ImageBuilder/GitService.cs
  src/ImageBuilder/IGitService.cs
  src/ImageBuilder/ImageBuilderLabels.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle worktrees in GetRepoRoot
  src/ImageBuilder/GitHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Continue on docker build errors
  eng/docker-tools/templates/stages/build-and-test.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add a runPostBuildOnFailure parameter to optionally continue on build errors
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Consume OCI image info in `build`, `generateBuildMatrix`, `getStaleImages`, `mergeImageInfo` commands (#2157)"
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/Models/Subscription/Subscription.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifact.cs
  src/ImageBuilder/Oras/OciBlob.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Publish image info as OCI artifact (#2155)"
  eng/Versions.props
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  src/ImageBuilder.Models/Manifest/ImageInfoArtifact.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/Models/ImageInfoArtifactSerializationTests.cs
  src/ImageBuilder.Tests/PublishConfigurationBindingTests.cs
  src/ImageBuilder.Tests/PublishImageInfoArtifactCommandTests.cs
  src/ImageBuilder/Commands/PublishImageInfoArtifactCommand.cs
  src/ImageBuilder/Configuration/RegistryEndpoint.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/IManifestJsonService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/PathHelper.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Bump minor version
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Revert OCI image info changes (#2167)
  eng/Versions.props
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  src/ImageBuilder.Models/Manifest/ImageInfoArtifact.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder.Tests/ImageInfoServiceTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/Models/ImageInfoArtifactSerializationTests.cs
  src/ImageBuilder.Tests/PublishConfigurationBindingTests.cs
  src/ImageBuilder.Tests/PublishImageInfoArtifactCommandTests.cs
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/BuildOptions.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixOptions.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesOptions.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
  src/ImageBuilder/Commands/PublishImageInfoArtifactCommand.cs
  src/ImageBuilder/Configuration/RegistryEndpoint.cs
  src/ImageBuilder/IImageInfoService.cs
  src/ImageBuilder/IManifestJsonService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ImageInfoService.cs
  src/ImageBuilder/ManifestJsonService.cs
  src/ImageBuilder/Models/Subscription/Subscription.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OciArtifact.cs
  src/ImageBuilder/Oras/OciArtifactType.cs
  src/ImageBuilder/Oras/OciBlob.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/PathHelper.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add `runPostBuildOnFailure` parameter for builds (#2164)
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update README for Automation library
  src/Automation/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Automation library
  Microsoft.DotNet.DockerTools.slnx
  src/Automation.Tests/Microsoft.DotNet.Automation.Tests.csproj
  src/Automation.Tests/PullRequestPlannerTests.cs
  src/Automation/Git.cs
  src/Automation/GitContext.cs
  src/Automation/GitHub/GitHubRepo.cs
  src/Automation/GitHub/GitHubRepoHost.cs
  src/Automation/GitWorkspace.cs
  src/Automation/IGitContext.cs
  src/Automation/IRepoHost.cs
  src/Automation/Microsoft.DotNet.Automation.csproj
  src/Automation/Models.cs
  src/Automation/Planner.cs
  src/Automation/PullRequestManager.cs
  src/Automation/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update test file name
  src/Automation.Tests/PullRequestPropertyTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle scenario where source branch exists but there is no PR
  src/Automation.Tests/PullRequestPlannerTests.cs
  src/Automation/GitHub/GitHubRepoHost.cs
  src/Automation/Models.cs
  src/Automation/Planner.cs
  src/Automation/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove Docker --label metadata plumbing from build command
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/DockerService.cs
  src/ImageBuilder/DockerServiceCache.cs
  src/ImageBuilder/IDockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
