Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Update pipelines with new manifest list commands
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip creating manifest lists in pull requests
  eng/docker-tools/templates/jobs/post-build.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2038)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Properly implement eng-validation-unofficial pipeline (#2047)
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add skill helper scripts for Azure Pipelines
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-BuildLog.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Show more build info and format as markdown
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove unnecessary token caching
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add investigating-pipeline skill
  .github/skills/investigating-pipeline/SKILL.md
Due: none

Handle 404 in GetAllImageDigestsFromRegistryAsync during parallel enumeration
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extend IOrasService with annotations and artifact attachment
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/ReferrerInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rewrite LifecycleMetadataService to use OrasDotNet library
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update tests for async ILifecycleMetadataService
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove legacy ORAS CLI wrapper code
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/Models/Oras/OrasDiscoverData.cs
  src/ImageBuilder/OrasClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove oras CLI from ImageBuilder container image
  src/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consolidate AttachArtifactAsync log messages
  src/ImageBuilder/Oras/OrasDotNetService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Address PR review feedback
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/LifecycleMetadataService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Remove unnecessary Docker login from CleanAcrImagesCommand (#2044)"
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Remove unnecessary Docker login from CleanAcrImagesCommand" (#2052)
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Skip Post Publish Notification for PR builds
  eng/docker-tools/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add skill for investigating Azure Pipelines (#2049)
  .github/skills/investigating-pipeline/SKILL.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-BuildLog.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip Post Publish Notification for PR builds (#2053)
  eng/docker-tools/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2054)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add diagnostic logging to Delete action in CleanAcrImagesCommand (#2057)
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reference registry service connections in cleanup Clean job
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Handle 404 in GetAllImageDigestsFromRegistryAsync (#2055)
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reference registry service connections in cleanup Clean job (#2058)
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

[main] Update Image Builder tag reference (#2059)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#2060)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate all ORAS CLI usage to OrasDotNet (#2050)
  src/Dockerfile.linux
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Models/Oras/OrasDiscoverData.cs
  src/ImageBuilder/Oras/IOrasService.cs
  src/ImageBuilder/Oras/OrasDotNetService.cs
  src/ImageBuilder/Oras/ReferrerInfo.cs
  src/ImageBuilder/OrasClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
