Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Clean up some formatting
  src/ImageBuilder/BuildPlanCheck.cs
  src/ImageBuilder/Commands/CheckBaseImagesCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/ViewModel/ManifestInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make the local base image check a local getStaleImages
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesLocalCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesLocalOptions.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move build planning into an ImageBuilder.Build namespace
  src/ImageBuilder.Tests/BuildCommandTests.cs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder.Tests/GetStaleImagesCommandTests.cs
  src/ImageBuilder/Build/BaseImageResolver.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanCheck.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesCommand.cs
  src/ImageBuilder/Commands/GetStaleImagesLocalCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disable Renovate vulnerability alerts
  eng/renovate.json
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Log complete facts instead of fragments
  src/ImageBuilder/Build/BuildPlanCheck.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disable Renovate vulnerability alerts (#2189)
  eng/renovate.json
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add -Help switch and drop the Repository parameter
  eng/Get-FeatureBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Trim the feature branch builds README section
  src/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Get-FeatureBuilds.ps1 to list feature branches and their images
  eng/Get-FeatureBuilds.ps1
  src/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use inline parameter lists in Get-FeatureBuilds.ps1
  eng/Get-FeatureBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Drop the self-test from Get-FeatureBuilds.ps1
  eng/Get-FeatureBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Rename Get-FeatureBuilds.ps1 to Get-FeatureBranches.ps1
  eng/Get-FeatureBranches.ps1
  src/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Support feature branch builds of the ImageBuilder image
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/README.md
  src/manifest.json
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add comment-based help to Get-FeatureBuilds.ps1
  eng/Get-FeatureBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Trim Get-FeatureBranches.ps1 help output
  README.md
  eng/Get-FeatureBranches.ps1
  src/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Sign feature branch builds
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  src/README.md
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Make Get-FeatureBuilds.ps1 PSScriptAnalyzer clean
  eng/Get-FeatureBuilds.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use GitHub App authentication for ImageBuilder updates
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Name the planner's platform sets for what they are
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Process ACR repos sequentially during cleanup
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean ACR manifests in time-bounded batches
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Formatting and naming cleanup in ACR cleanup code
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/Helpers/ContainerRegistryHelper.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Don't pass --time-limit-minutes until ImageBuilder supports it
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Explain why getStaleImages acts on only some checks
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move types to separate files
  src/ImageBuilder/Build/BuildAction.cs
  src/ImageBuilder/Build/BuildCause.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanCheck.cs
  src/ImageBuilder/Build/BuildPlanCheckContext.cs
  src/ImageBuilder/Build/BuildPlanCheckDisposition.cs
  src/ImageBuilder/Build/BuildPlanCheckScope.cs
  src/ImageBuilder/Build/BuildPlanReason.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/EvaluatedBuildPlanCheck.cs
  src/ImageBuilder/Build/IBuildPlanCheck.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Build/PlannedPlatform.cs
  src/ImageBuilder/Build/PlatformDependencyGraph.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add direct build cause helper
  src/ImageBuilder/Build/BuildCauseExtensions.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Name published platform metadata directly
  src/ImageBuilder/Build/BuildPlanCheck.cs
  src/ImageBuilder/Build/BuildPlanCheckContext.cs
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Name the equivalent build reuse source
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use GitHub App authentication for ImageBuilder updates (#2191)
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Keep build cause helpers internal
  src/ImageBuilder/Build/BuildCauseExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Replace generic build checks with fixed rules
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanCheck.cs
  src/ImageBuilder/Build/BuildPlanCheckContext.cs
  src/ImageBuilder/Build/BuildPlanCheckDisposition.cs
  src/ImageBuilder/Build/BuildPlanCheckScope.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/EvaluatedBuildPlanCheck.cs
  src/ImageBuilder/Build/IBuildPlanCheck.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update planner formatting
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/PlatformDependencyGraph.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make build planning phases explicit
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Make build planning phases explicit"
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clarify build planning in place
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use 120-column build planning format
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Name build planning data explicitly
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Represent build plans as platform graphs
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/IBuildPlanner.cs
  src/ImageBuilder/Build/PlatformDependencyGraph.cs
  src/ImageBuilder/Commands/BuildCommand.cs
  src/ImageBuilder/Commands/GenerateBuildMatrixCommand.cs
  src/ImageBuilder/Commands/StaleImageHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make BuildPlan own the platform graph
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/PlatformDependencyGraph.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Keep BuildPlan as graph data
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanExtensions.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
