Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Resolve ingestion input from artifact staging
  src/ImageBuilder.Tests/WaitForMcrImageIngestionCommandTests.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Default annotation upload switch to false
  src/Infrastructure/Content/templates/jobs/publish.yml
  src/Infrastructure/Content/templates/steps/annotate-eol-digests.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Require paths within artifact staging
  src/ImageBuilder.Tests/ArtifactServiceTests.cs
  src/ImageBuilder/ArtifactService.cs
  src/ImageBuilder/IArtifactService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consolidate publish stage artifacts
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/templates/jobs/publish.yml
  src/Infrastructure/Content/templates/steps/annotate-eol-digests.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Shorten publish artifact display name
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clarify publish artifact attempt name
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use artifact terminology in path resolution
  src/ImageBuilder/ArtifactService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clarify artifact service purpose
  src/ImageBuilder/IArtifactService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Document artifact path behavior
  src/ImageBuilder/IArtifactService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Always upload artifacts
  src/Infrastructure/Content/templates/jobs/build-images.yml
  src/Infrastructure/Content/templates/jobs/publish.yml
  src/Infrastructure/Content/templates/steps/publish-artifact.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Don't overwrite options
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/Commands/IngestKustoImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/PostPublishNotificationCommand.cs
  src/ImageBuilder/Commands/PublishImageInfoCommand.cs
  src/ImageBuilder/Commands/TrimUnchangedPlatformsCommand.cs
  src/ImageBuilder/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify artifact test helper setup
  src/ImageBuilder.Tests/Helpers/TestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Generate build configuration for PRs
  src/Infrastructure/Content/templates/steps/generate-appsettings.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify publishing output paths (#2208)
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/ArtifactServiceTests.cs
  src/ImageBuilder.Tests/CopyAcrImagesCommandTests.cs
  src/ImageBuilder.Tests/CreateManifestListCommandTests.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/Helpers/TestHelper.cs
  src/ImageBuilder.Tests/IngestKustoImageInfoCommandTests.cs
  src/ImageBuilder.Tests/MergeImageInfoFilesCommandTests.cs
  src/ImageBuilder.Tests/PublishImageInfoCommandTests.cs
  src/ImageBuilder.Tests/TrimUnchangedPlatformsCommandTests.cs
  src/ImageBuilder.Tests/WaitForMarAnnotationIngestionCommandTests.cs
  src/ImageBuilder.Tests/WaitForMcrImageIngestionCommandTests.cs
  src/ImageBuilder/ArtifactService.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsOptions.cs
  src/ImageBuilder/Commands/CopyAcrImagesCommand.cs
  src/ImageBuilder/Commands/CreateManifestListCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/Commands/IngestKustoImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoCommand.cs
  src/ImageBuilder/Commands/MergeImageInfoOptions.cs
  src/ImageBuilder/Commands/PostPublishNotificationCommand.cs
  src/ImageBuilder/Commands/PublishImageInfoCommand.cs
  src/ImageBuilder/Commands/TrimUnchangedPlatformsCommand.cs
  src/ImageBuilder/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/ImageBuilder/Commands/WaitForMcrImageIngestionCommand.cs
  src/ImageBuilder/IArtifactService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/templates/jobs/build-images.yml
  src/Infrastructure/Content/templates/jobs/post-build.yml
  src/Infrastructure/Content/templates/jobs/publish.yml
  src/Infrastructure/Content/templates/steps/annotate-eol-digests.yml
  src/Infrastructure/Content/templates/steps/generate-appsettings.yml
  src/Infrastructure/Content/templates/steps/publish-artifact.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Avoid evaluating publish config in PR builds
  src/Infrastructure/Content/templates/steps/generate-appsettings.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Prevent PR builds from evaluating publish configuration (#2248)
  src/Infrastructure/Content/templates/steps/generate-appsettings.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary ExecuteWithCredentialsAsync from EOL commands
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsOptions.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean up LifecycleMetadataService
  src/ImageBuilder/LifecycleMetadataService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Convert AnnotateEolDigestsCommand to primary constructor
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add internal annotation
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/ImageBuilderAnnotationsTests.cs
  src/ImageBuilder/CopyImageService.cs
  src/ImageBuilder/Oras/ImageBuilderAnnotations.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add strongly typed returns for LifecycleMetadata service
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/CopyImageServiceTests.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/Helpers/LifecycleArtifactHelper.cs
  src/ImageBuilder.Tests/ImageBuilderAnnotationsTests.cs
  src/ImageBuilder.Tests/LifecycleAnnotationsTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder.Tests/OciAnnotationsTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleAnnotations.cs
  src/ImageBuilder/LifecycleArtifact.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Models/Oci/Manifest.cs
  src/ImageBuilder/Oras/OciAnnotations.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Wrap long string
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix structured logging in AnnotateEolDigestsCommand
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Do not consider internal/private EOL dates for cleanup
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Convert to file-scoped namespace
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Combine annotate EOL digests commands
  .github/instructions/csharp.instructions.md
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder.Tests/AnnotateEolImagesCommandTests.cs
  src/ImageBuilder/Commands/AnnotateEolImagesCommand.cs
  src/ImageBuilder/Commands/AnnotateEolImagesOptions.cs
  src/ImageBuilder/Commands/Command.TOptions.cs
  src/ImageBuilder/Commands/CommandAction.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishOptions.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataOptions.cs
  src/ImageBuilder/Commands/ICommand.cs
  src/ImageBuilder/ImageBuilder.cs
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/DEV-GUIDE.md
  src/Infrastructure/Content/templates/jobs/publish.yml
  src/Infrastructure/Content/templates/steps/annotate-eol-digests.yml
  src/Infrastructure/Content/templates/variables/common.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Rename annotateEolImages to attachLifecycleMetadata
  .github/instructions/csharp.instructions.md
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
  src/ImageBuilder/ImageBuilder.cs
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/DEV-GUIDE.md
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Rename and reorganize parts of AttachLifecycleMetadataCommand for clarity
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename --is-internal to --mark-as-internal for clarity
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add "file" option for AttachLifecycleMetadataCommand
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataAttachmentResult.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Replace --on-conflict with --stop-on-conflict
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataOptions.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataAttachmentResult.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Model lifecycle metadata attachment results as a record hierarchy
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/ImageBuilder/LifecycleMetadataAttachmentResult.cs
  src/ImageBuilder/LifecycleMetadataService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Skip supported digests before fetching manifests in published
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove the lifecycle metadata changelog entry
  src/Infrastructure/Content/CHANGELOG.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make dry run a queue-time parameter in the manual EOL pipeline
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/templates/stages/annotate-eol-digests.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Read the file subcommand's data file as an ordinary path
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename attachLifecycleMetadata published to unsupported
  src/ImageBuilder.Tests/AttachLifecycleMetadataCommandTests.cs
  src/ImageBuilder/Commands/AttachLifecycleMetadataCommand.cs
  src/Infrastructure/Content/DEV-GUIDE.md
  src/Infrastructure/Content/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Always attach lifecycle metadata in the manual EOL pipeline
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/templates/stages/annotate-eol-digests.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix the manual EOL annotation pipeline
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/templates/stages/annotate-eol-digests.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove annotateEolDigests and waitForMarAnnotationIngestion
  eng/pipelines/annotate-eol-digests.yml
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder.Tests/WaitForMarAnnotationIngestionCommandTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsOptions.cs
  src/ImageBuilder/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/ImageBuilder/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/Models/MarBulkDeletion/BulkDeletionDescription.cs
  src/Infrastructure/Content/CHANGELOG.md
  src/Infrastructure/Content/templates/steps/annotate-eol-digests.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
