Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/docker-tools-packages-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      stages:
      - stage: build
        displayName: Build and publish packages
        jobs:
        - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
          parameters:
  ...

eng/pipelines/docker-tools-packages-pr.yml:
  stages:
  - stage: build
    displayName: Build and publish packages
    jobs:
    - template: /eng/pipelines/templates/jobs/build-and-publish-packages.yml@self
      parameters:
        containerResource: LinuxContainer
        enablePublish: false

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-official.yml:
  extends:
    template: /eng/docker-tools/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/src/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Preserve BuildCommandTests encoding
  src/ImageBuilder.Tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Represent BuildPlan as an object graph
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanExtensions.cs
  src/ImageBuilder/Build/BuildPlanNode.cs
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert formatting-only change in ContainerRegistryHelper
  src/ImageBuilder.Tests/Helpers/ContainerRegistryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Restore UTF-8 BOM on CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Separate build graph setup steps
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extract time limit cancellation setup into helper
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Take TimeSpan in time limit helpers
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Narrow documentation skill trigger
  .github/skills/docs-maintenance/SKILL.md
Due: none

Inline time limit log message
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move static helper below private instance methods
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename EOL expiration param to eolGracePeriodDays
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Track deleted repos and images in fields
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Separate platforms from build decisions
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildDecision.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanExtensions.cs
  src/ImageBuilder/Build/BuildPlanNode.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use ImageName in DeleteManifestAsync and sort summary output
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder infrastructure guidance
  AGENTS.md
Due: none

Make BuildPlan the dependency graph
  src/ImageBuilder.Tests/GenerateBuildMatrixCommandTests.cs
  src/ImageBuilder/Build/BuildPlan.cs
  src/ImageBuilder/Build/BuildPlanExtensions.cs
  src/ImageBuilder/Build/BuildPlanNode.cs
  src/ImageBuilder/Build/BuildPlanner.cs
  src/ImageBuilder/Build/PlannedPlatform.cs
  src/ImageBuilder/Build/PlatformDependencyGraph.cs
  src/ImageBuilder/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make build planning traversal explicit
  src/ImageBuilder/Build/BuildPlanner.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Inline DeleteManifestAsync into its only caller
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Narrow documentation maintenance skill trigger (#2192)
  .github/skills/docs-maintenance/SKILL.md
Due: none

Update ImageBuilder infrastructure guidance (#2193)
  AGENTS.md
Due: none

Fix incorrect references to README.md
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Warn about colliding feature branch names
  eng/Get-FeatureBranches.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Always define officialBranchPrefixes
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add feature branch support (#2190)
  README.md
  eng/Get-FeatureBranches.ps1
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/manifest.json
Due: eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove unnecessary tests
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix structured logging
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Log information about batches
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Correct cleanup time limit description
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean up manifests in batches (#2195)
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify automated rebuild failure gating
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/QueueBuildCommand.cs
  src/Infrastructure/Content/DEV-GUIDE.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify automated rebuild failure gating (#2196)
  src/ImageBuilder.Tests/QueueBuildCommandTests.cs
  src/ImageBuilder/Commands/QueueBuildCommand.cs
  src/Infrastructure/Content/DEV-GUIDE.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update projects to .NET 10
  .devcontainer/devcontainer.json
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
  global.json
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder.Updater/ImageBuilder.Updater.csproj
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/Infrastructure/Content/Install-DotNetSdk.ps1
  src/Infrastructure/Content/templates/jobs/cg-build-projects.yml
  src/Infrastructure/Microsoft.DotNet.DockerTools.Infrastructure.csproj
  src/manifest.json
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update projects to .NET 10 (#2199)
  .devcontainer/devcontainer.json
  eng/pipelines/templates/steps/bootstrap-imagebuilder.yml
  global.json
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/GitAutomation.Tests/Microsoft.DotNet.GitAutomation.Tests.csproj
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder.Updater/ImageBuilder.Updater.csproj
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
  src/Infrastructure/Content/Install-DotNetSdk.ps1
  src/Infrastructure/Content/templates/jobs/cg-build-projects.yml
  src/Infrastructure/Microsoft.DotNet.DockerTools.Infrastructure.csproj
  src/manifest.json
Due: eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/docker-tools-packages-pr.yml, eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Handle missing manifests during ACR cleanup
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/ManifestQueryResult.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable ImageBuilder updates in dotnet-framework-docker
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable ImageBuilder updates in dotnet-framework-docker repo (#2203)
  src/ImageBuilder.Updater/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle missing manifests during ACR cleanup (#2202)
  src/ImageBuilder.Tests/AnnotateEolDigestsCommandTests.cs
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/LifecycleMetadataServiceTests.cs
  src/ImageBuilder/Commands/AnnotateEolDigestsCommand.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/ILifecycleMetadataService.cs
  src/ImageBuilder/LifecycleMetadataService.cs
  src/ImageBuilder/ManifestQueryResult.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use environment variables for Git authentication
  src/GitAutomation.Tests/GitHubRepoHostTests.cs
  src/GitAutomation/Git.cs
  src/GitAutomation/GitHttpAuthentication.cs
  src/GitAutomation/GitHub/GitHubRepo.cs
  src/GitAutomation/GitHub/GitHubRepoHost.cs
  src/GitAutomation/GitWorkspace.cs
  src/GitAutomation/IProcessRunner.cs
  src/GitAutomation/ProcessRunner.cs
  src/GitAutomation/PullRequestManager.cs
  src/GitAutomation/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "[dependabot]: Bump Azure.Security.KeyVault.Keys from 4.8.0 to 4.10.0 …"
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "[dependabot]: Bump Azure.Security.KeyVault.Keys from 4.8.0 to 4.10.0" (#2205)
  src/GitAutomation/Microsoft.DotNet.GitAutomation.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/docker-tools-packages-official.yml: any of: eng/common, eng/pipelines/docker-tools-packages-official.yml, eng/pipelines/templates/jobs/build-and-publish-packages.yml, eng/pipelines/templates/variables/packages-build-pools.yml, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/docker-tools-packages-pr.yml: any of: eng/common, eng/pipelines, src/ImageBuilder.Models, Directory.Build.props, Directory.Build.targets, global.json
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools
