Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool: Hosted Ubuntu 1604
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Don't connect to Kusto on dry runs (#508)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update tag names
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#509)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Run publish stage in PR builds
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add Dockerfile path to exception message to give more context
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove variable defaulting
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Quote more arguments
  eng/common/templates/steps/publish-readmes.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add Dockerfile path to exception message to give more context (#511)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Run publish stage in PR builds (#510)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Check base image updates: use single job for all archs
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix publishManifestCommand to handle dry run
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix publishManifestCommand to handle dry run (#513)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#514)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix publicSourceBranch variable for PR builds
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove default value for publishRepoPrefix var
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix publicSourceBranch variable for PR builds (#516)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clean image-builder images in ACR
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Keep set amount of images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates the repo name for the .NET Fx subscription
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Updates the repo name for the .NET Fx subscription (#518)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix publishMcrDocs to handle different product repos
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle primary readme
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix publishMcrDocs to handle different product repos (#520)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#521)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove support for Windows ARM platform
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/validate-remote-docker-config.yml
  test/pipeline-validation/1.0/nanoserver-1809/arm32v7/Dockerfile
  test/pipeline-validation/README.placeholder.md
  test/pipeline-validation/test-manifest.json
  test/pipeline-validation/test-tags.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove unnecessary variables
  eng/pipelines/validate-remote-docker-config.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Remove support for Windows ARM platform (#522)
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/validate-remote-docker-config.yml
  test/pipeline-validation/1.0/nanoserver-1809/arm32v7/Dockerfile
  test/pipeline-validation/README.placeholder.md
  test/pipeline-validation/test-manifest.json
  test/pipeline-validation/test-tags.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix tags metadata generator to handle undocumented platform
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix tags metadata generator to handle undocumented platform (#524)
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#525)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Build matrix support for building nano and server core
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update cleanup logic to use /bin/sh vs /bin/bash
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update cleanup logic to use /bin/sh vs /bin/bash (#534)
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update image size validation to use latest Windows version agent
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update image size validation to use latest Windows version agent (#535)
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Build matrix support for building nano and server core (#530)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: Microsoft.DotNet.ImageBuilder
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
