Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-and-test.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-and-test.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

[main] Update Image Builder tag reference (#1662)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add gitHubVersionsRepoInfo.authArgs configurable variable
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update other GitHub token arguments
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update other GitHub token arguments (#1674)
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

mcrDocsRepoInfo, gitHubNotificationsRepoInfo: use authArgs
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add gitHubVersionsRepoInfo.authArgs configurable variable (#1675)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Replace FluentAssertions with AwesomeAssertions
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Replace FluentAssertions with AwesomeAssertions (#1677)
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1676)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix Kusto test
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fail ingest Kusto data test
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

WIP
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix tests
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add layer converter for ImageArtifactDetails schema 2.0
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add tests that validate the ImageArtifactDetails schema converter
  src/Microsoft.DotNet.ImageBuilder/tests/ImageArtifactDetailsTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use Shouldly and clean up assertions
  src/Microsoft.DotNet.ImageBuilder/tests/ImageArtifactDetailsTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify JSON serialization
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused imports
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageArtifactDetailsTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use the JsonToken's own method to serialize, instead of using helper
  src/Microsoft.DotNet.ImageBuilder/src/JsonHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add image/layer size to image-info and ingest in Kusto (#1604)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/JsonHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageArtifactDetailsTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1680)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use new ImageArtifactDetails deserialization method ImageInfoHelper
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use new ImageArtifactDetails deserialization method ImageInfoHelper (#1682)
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update image-builder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update image-builder tag (#1685)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use GitHub App to run PublishMcrDocs command
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix yaml multi-line argument formatting
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use GitHub App to run PublishMcrDocs command (#1686)
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Accept string instead of long for --gh-app-installation-id
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/OctokitClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove image size command and pipeline steps
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/validate-image-sizes.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeValidationResults.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/UpdateImageSizeBaselineCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/UpdateImageSizeBaselineOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/UpdateImageSizeBaselineCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ValidateImageSizeCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove image size commands and pipeline steps (#1688)
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/validate-image-sizes.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeValidationResults.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/UpdateImageSizeBaselineCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/UpdateImageSizeBaselineOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/UpdateImageSizeBaselineCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ValidateImageSizeCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Accept string instead of long for `--gh-app-installation-id` CLI option (#1687)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/OctokitClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Show different output when copying images during dry-run
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Show different output when copying images during dry-run (#1691)
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1689)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Import v2.0.0 dotnet/issue-labeler default workflows
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
Due: none

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
