Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-unofficial.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Handle unknown state for MAR ingestion (#1394)
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use images from main
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add custom steps to run after build
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

PR feedback
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove support for DockerfileGitCommitSha and TimeStamp system variables
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Options.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

EOL annotation generation update to handle pre-release versions
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable nullable check for file
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use concurrency limiter when deleting repo manifests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

EOL annotation generation update to handle pre-release versions (#1400)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Wrap trace listener in class that removes ##vso directives
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/FilePusher.cs
  eng/src/yaml-updater/YamlUpdater.cs
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add explanation in comment
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix file-pusher pipeline failure when pushing files that contain `##vso` tasks (#1402)
  eng/src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  eng/src/file-pusher/FilePusher.cs
  eng/src/yaml-updater/YamlUpdater.cs
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use azure linux for Image Builder container image (#1393)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use concurrency limiter when deleting repo manifests (#1401)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1396)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove support for DockerfileGitCommitSha and TimeStamp system variables (#1399)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Options.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1403)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Complete rename of OrasService
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Onboard .NET Docker Bot to secret manager
  .config/dotnet-tools.json
  .vault-config/secrets.yaml
  eng/pipelines/secret-management-weekly.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use variables for default build agent pools and image names
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add registry override options to signing payloads command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/RegistryOverrideOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateSigningPayloadsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add support for authenticating signing payloads creation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateSigningPayloadsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

PR Feedback
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pool name nit
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Enable payload generation, but not writing, during dry-run
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

PR Feedback
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/annotate-eol-digests.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Specify source-analysis pool
  eng/common/templates/1es-unofficial.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Inline unnecessary local variable
  src/Microsoft.DotNet.ImageBuilder/src/FileHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use repo prefix for EOL data logic
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Adjust dry-run wording
  src/Microsoft.DotNet.ImageBuilder/src/Commands/Signing/GenerateSigningPayloadsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Onboard .NET Docker Bot to secret manager (#1405)
  .config/dotnet-tools.json
  .vault-config/secrets.yaml
  eng/pipelines/secret-management-weekly.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use repo prefix for EOL data logic (#1408)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean EOL images (#1384)
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

[main] Update Image Builder tag reference (#1409)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Login to Docker for GenerateEolAnnotationDataCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
