Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-unofficial.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Allow multi-arch tags in mcr tags metadata templates
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagGroup.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support matrix trimming in pipeline (#1459)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1462)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix test stage matrix generation
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix test stage matrix generation (#1465)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add support for testing of internal builds (#1463)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add clean leg for buildtools-prereqs
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Support custom init steps for matrix job
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add clean leg for buildtools-prereqs (#1466)
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove unused field
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move arch sorting to Tags metadata generator
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support custom init steps for matrix job (#1467)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add special logic to handle tsa config in common build template
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates per code review
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add special logic to handle tsa config in common build template (#1468)
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update repo name variable used in Copy TSA Config
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update repo name variable used in Copy TSA Config (#1472)
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1469)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix HandlesUndocumentedPlatform with no shared tags
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add back extra conditions for platform documented tags
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Supply isInternalServicingValidation to Windows 2025 build job
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Supply isInternalServicingValidation to Windows 2025 build job (#1473)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add "unlisted/" to common officialRepoPrefixes (#1460)
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add tests
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Increase NuGet Chain Build Retry Policy
  eng/common/Install-DotNetSdk.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove pointless or unused changes
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagGroup.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add isInternalServicingValidation parameter to common-init-for-matrix-and-build.yml steps
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add isInternalServicingValidation parameter to common-init-for-matrix-and-build.yml steps (#1475)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Increase NuGet Chain Build Retry Policy (#1474)
  eng/common/Install-DotNetSdk.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Allow multi-arch tags in MCR tags metadata templates (#1464)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateReadmesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean dotnet/framework images that are EOL
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Clean dotnet/framework images that are EOL (#1478)
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Support new Dockerfiles in matrix trimming
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support new Dockerfiles in matrix trimming (#1479)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1480)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip validation when loading image info in generateBuildMatrix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Skip validation when loading image info in generateBuildMatrix (#1482)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
