Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/image-info-schema
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Disable dotnet-docker/nightly branch subscription (#451)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Update "check base image" pipeline
  eng/check-base-image-subscriptions.json
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Update "check base image" pipeline (#452)
  eng/check-base-image-subscriptions.json
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Update Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tags (#453)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update schedule trigger for base image update pipeline
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Update schedule trigger for base image update pipeline (#454)
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix issue with feature branch build not getting scheduled
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix branch ref
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix issue with feature branch build not getting scheduled (#455)
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix issue with feature branch build not getting scheduled (#456)
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Store commit URL in image info file
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Validate source repo URL is set
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix failing test
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store commit URL in image info file (#457)
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Parameterize Linux AMD64 pool reference
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Parameterize Linux AMD64 pool reference (#458)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clean old data from image info file on publish
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Link Code of Conduct
  CODE-OF-CONDUCT.md
Due: none

Link Code of Conduct (#460)
  CODE-OF-CONDUCT.md
Due: none

Command to delete unnecessary images from ACR
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Catalog.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/DeleteRepositoryResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthExchangeResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthTokenResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Repository.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/RepositoryManifests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Code cleanup
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean old data from image info file on publish (#459)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add logic to cleanup test repos
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Undo infra changes specific to feature branch
  eng/check-base-image-subscriptions.json
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Add OS display names
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add OS display names (#464)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#466)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Explicitly define manifest for post-build
  eng/common/templates/jobs/post-build.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Same needed for PublishImageInfoCommand
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Explicitly define manifest for merging and publish image infos (#467)
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Adds option to specify which version components are significant for matrix generation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Default ProductVersionComponents to 2
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Adds option to specify which version components are significant (#468)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#469)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
