Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-unofficial.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Re-enable pre-build validation for internal servicing testing
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Re-enable pre-build validation for internal servicing testing (#1526)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use official pipeline template for base image mirroring
  eng/pipelines/mirror-base-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use official pipeline template for base image mirroring (#1527)
  eng/pipelines/mirror-base-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

[main] Update Image Builder tag reference (#1521)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Flatten PullBaseImages logic in build command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add GitHub issue labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Refactor some of build command caching test
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rearrange source image info variables
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Apply path args
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add failing test for no-cache rebuilds using path args
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add GitHub issue labeler action (#1529)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Add dependabot config
  .github/dependabot.yml
Due: none

Try absolute paths
  .github/dependabot.yml
Due: none

Incorporate missing changes into ImageInfoHelper
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix null error
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify null handling for digest and initialize lists with empty arrays
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use explicit type
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update dependabot config
  .github/dependabot.yml
Due: none

Refactor PullBaseImages method and build command caching test (#1530)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Dependabot config (#1532)
  .github/dependabot.yml
Due: none

Remove unnecessary Azure.Core pinned version
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary pinned System.Formats.Asn1 project reference
  eng/src/file-pusher/file-pusher.csproj
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use solution directories for dependabot
  .github/dependabot.yml
Due: none

Add dependabot configuration for updating GitHub Actions
  .github/dependabot.yml
Due: none

Remove unnecessary pinned package versions (#1557)
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use solution directories for dependabot (#1558)
  .github/dependabot.yml
Due: none

Add dependabot configuration for updating GitHub Actions (#1559)
  .github/dependabot.yml
Due: none

Switch dependabot config to weekly
  .github/dependabot.yml
Due: none

Switch dependabot config to weekly (#1569)
  .github/dependabot.yml
Due: none

[main] Update Image Builder tag reference (#1528)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add all known unreleased Debian version codenames
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use switch expressions to calculate OS display name
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add sid
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove versions we don't plan to ship
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Replace old OS versions in tests
  eng/tests/pipeline-validation/1.0/focal/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/templates/README.md
  eng/tests/pipeline-validation/templates/test-tags.yml
  eng/tests/pipeline-validation/test-manifest.json
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/CustomBuildLegDependencyType.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformDataTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Move Dockerfiles
  eng/tests/pipeline-validation/1.0/noble/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/noble/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add all known unreleased Debian version codenames (#1570)
  eng/tests/pipeline-validation/1.0/focal/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
  eng/tests/pipeline-validation/1.0/noble/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/noble/arm64v8/Dockerfile
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/templates/README.md
  eng/tests/pipeline-validation/templates/test-tags.yml
  eng/tests/pipeline-validation/test-manifest.json
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/CustomBuildLegDependencyType.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformDataTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
