Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool: Hosted Ubuntu 1604
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Update from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to display base image status (#410)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Common script to get base image status
  eng/common/Get-BaseImageStatus.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include a continuous mode
  eng/common/Get-BaseImageStatus.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Continuous mode option for GetBaseImageStatus cmd
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Continuous mode option for GetBaseImageStatus cmd (#412)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetBaseImageStatusOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update from code review
  eng/common/Get-BaseImageStatus.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Retry docker login
  eng/common/templates/steps/test-images-windows-client.yml
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Common script to get base image status (#411)
  eng/common/Get-BaseImageStatus.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix stale image check to not include internal images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix stale image check to not include internal images (#414)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#415)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Refactor common build script
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Refactor common build script (#416)
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Retry docker login (#413)
  eng/common/templates/steps/test-images-windows-client.yml
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reference new variable groups
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#417)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reference new variable groups (#418)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reset variable group names back to original value
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update scripts to clean up untagged images
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reset variable group names back to original value (#420)
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update scripts to clean up untagged images (#421)
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include digest of built image in image info file
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Gracefully handle base images w/o a digest
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Gracefully handle base images w/o a digest (#423)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary diffs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Ensure all tags get pushed, not just simple tags
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Cleanup
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Method rename
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include digest of built image in image info file (#422)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/templates/jobs/build-image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#424)
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/templates/jobs/build-image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#425)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix merging of digest value when merging image infos
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix merging of digest value when merging image infos (#426)
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: Microsoft.DotNet.ImageBuilder
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
