Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/common/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

update image tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

update dockerfile to handle distroless
  eng/common/Dockerfile.syft
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

PowerShell syntax
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Run syft directly to collect SBOM (#1787)
  eng/common/Dockerfile.syft
  eng/common/Pull-Image.ps1
  eng/common/pull-image.sh
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use low-privilege secrets variable group for DockerHub access
  eng/common/templates/variables/dotnet/secrets-unofficial.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add staging storage account service connection parameter
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1789)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add staging storage account service connection parameter (#1796)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use low-privilege secrets variable group for DockerHub access (#1794)
  eng/common/templates/variables/dotnet/secrets-unofficial.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Disable 1ES PT automatic SBOM generation in favor of manual SBOM generation for container images
  eng/common/templates/1es.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Disable 1ES PT automatic SBOM generation in favor of manual SBOM generation for container images (#1806)
  eng/common/templates/1es.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1802)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1807)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move ImageBuilder metadata files out to src/
  src/.dockerignore
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/NuGet.config
  src/README.md
  src/build.ps1
  src/manifest.json
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix Dockerfiles, scripts, docs, and other references to ImageBuilder projects
  .editorconfig
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  Microsoft.DotNet.DockerTools.slnx
  README.md
  documentation/manifest-file.md
  eng/check-base-image-subscriptions.json
  eng/pipelines/templates/variables/image-builder.yml
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/README.md
  src/build.ps1
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update dotnet install paths
  src/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Create ImageBuilder manifest library
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.Manifest/Class1.cs
  src/ImageBuilder.Manifest/Microsoft.DotNet.ImageBuilder.Manifest.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename project to ImageBuilder.Models and move Manifest model out of ImageBuilder tool
  Microsoft.DotNet.DockerTools.slnx
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Manifest/Class1.cs
  src/ImageBuilder.Models/Manifest/Architecture.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Manifest/OS.cs
  src/ImageBuilder.Models/Manifest/PackageQueryInfo.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Readme.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused imports
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use file scoped namespaces
  src/ImageBuilder.Models/Manifest/Architecture.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegDependencyType.cs
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Manifest/OS.cs
  src/ImageBuilder.Models/Manifest/PackageQueryInfo.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagDocumentationType.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused class
  src/ImageBuilder.Models/Manifest/PackageQueryInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable nullable annotations in Models project
  src/ImageBuilder.Models/Manifest/CustomBuildLegGroup.cs
  src/ImageBuilder.Models/Manifest/Image.cs
  src/ImageBuilder.Models/Manifest/Platform.cs
  src/ImageBuilder.Models/Manifest/Readme.cs
  src/ImageBuilder.Models/Manifest/Repo.cs
  src/ImageBuilder.Models/Manifest/Tag.cs
  src/ImageBuilder.Models/Manifest/TagSyndication.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder/ViewModel/ImageInfo.cs
  src/ImageBuilder/ViewModel/PlatformInfo.cs
  src/ImageBuilder/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Upgrade ImageBuilder to .NET 10
  .devcontainer/devcontainer.json
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/cg-build-projects.yml
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

WIP add templating library and CLI
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.TemplateGenerator/Microsoft.DotNet.ImageBuilder.TemplateGenerator.csproj
  src/ImageBuilder.TemplateGenerator/Program.cs
  src/ImageBuilder.TemplateGenerator/TemplateGeneratorCli.cs
  src/ImageBuilder.Templating/Class1.cs
  src/ImageBuilder.Templating/Microsoft.DotNet.ImageBuilder.Templating.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

WIP: Add read model / view model to models library
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/ImageBuilder.Models/ReadModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add some backreferences to RepoInfo
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

WIP on variable store
  src/ImageBuilder.Models/Manifest/Manifest.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/ImageBuilder.Models/ReadModel/VariableHelper.cs
  src/ImageBuilder.Models/ReadModel/VariableStore.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix warnings from manifest model
  src/ImageBuilder.Models/Manifest/Manifest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Read manifest from file and correctly resolve variables and includes
  src/ImageBuilder.Models/ReadModel/EmptyVariableStore.cs
  src/ImageBuilder.Models/ReadModel/IVariableStore.cs
  src/ImageBuilder.Models/ReadModel/JsonHelper.cs
  src/ImageBuilder.Models/ReadModel/JsonNodeExtensions.cs
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/ImageBuilder.Models/ReadModel/ManifestInfoExtensions.cs
  src/ImageBuilder.Models/ReadModel/ManifestPreprocessor.cs
  src/ImageBuilder.Models/ReadModel/VariableStore.cs
  src/ImageBuilder.TemplateGenerator/TemplateGeneratorCli.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disassociate Templating projects from ImageBuilder namespace
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.Templating/Class1.cs
  src/TemplateGenerator/Program.cs
  src/TemplateGenerator/TemplateGenerator.csproj
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Class1.cs
  src/Templating/Templating.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add benchmark for round-trip serialization
  .gitignore
  Microsoft.DotNet.DockerTools.slnx
  src/TemplateGenerator.Benchmarks/Program.cs
  src/TemplateGenerator.Benchmarks/TemplateGenerator.Benchmarks.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add simple templating abstractions and cottle implementation
  src/TemplateGenerator.Benchmarks/ManifestBenchmarks.cs
  src/TemplateGenerator.Benchmarks/Program.cs
  src/TemplateGenerator.Benchmarks/SimpleTemplateBenchmarks.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Abstractions/ICompiledTemplate.cs
  src/Templating/Abstractions/ITemplateEngine.cs
  src/Templating/Class1.cs
  src/Templating/Cottle/CottleTemplate.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
  src/Templating/Templating.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Separate context based variables and predefined variables
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Abstractions/ITemplateEngine.cs
  src/Templating/Cottle/CottleContextExtensions.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
