Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Updates from code review
  eng/pipelines/push-common-updates.yml
Due: none

Pipeline to push common updates to other repos (#321)
  eng/pipelines/push-common-updates.yml
Due: none

Fix validate-remote-docker-config pipeline
  eng/pipelines/templates/variables/common.yml
Due: none

Fix validate-remote-docker-config pipeline (#323)
  eng/pipelines/templates/variables/common.yml
Due: none

Allow multiple pipeline stages to be explicitly defined to run
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Account for failures in build and test stages
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Include digest of built image in image info file
  Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml

Fix change that would break tests
  Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml

Allow multiple pipeline stages to be explicitly defined to run (#324)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Add build/test jobs for Windows 1909
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Add build/test jobs for Windows 1909 (#326)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Include git commit hash in Dockerfile links
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeCommand.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeOptions.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/McrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsOptions.cs
  Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  Microsoft.DotNet.ImageBuilder/src/GitService.cs
  Microsoft.DotNet.ImageBuilder/src/IGitService.cs
  Microsoft.DotNet.ImageBuilder/src/IMcrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/McrTagsMetadata.cs
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/Repo.cs
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/TagGroup.cs
  Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeCommand.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeOptions.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  Microsoft.DotNet.ImageBuilder/src/IMcrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/TagGroup.cs
  Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  eng/common/Invoke-ReadmeGeneration.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/push-common-updates.yml

Remove infra for Windows Server 1803
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Remove infra for Windows Server 1803 (#329)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Include Git commit hash in Dockerfile links (#328)
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeCommand.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeOptions.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsOptions.cs
  Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  Microsoft.DotNet.ImageBuilder/src/GitService.cs
  Microsoft.DotNet.ImageBuilder/src/IGitService.cs
  Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/McrTagsMetadata.cs
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/Repo.cs
  Microsoft.DotNet.ImageBuilder/src/Models/Mcr/TagGroup.cs
  Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/push-common-updates.yml

Update to use latest Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

Update to use latest Image Builder tags (#333)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

Add MCR tags yaml support Ubuntu focal
  Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml

Consolidate Windows-based job pools in pipeline
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Fix break in Invoke-ReadmeGeneration.ps1
  eng/common/Invoke-ReadmeGeneration.ps1
Due: eng/pipelines/push-common-updates.yml

Change Windows build pool used by image-builder pools
  eng/pipelines/templates/jobs/build-image-builder.yml
Due: none

Fix break in Invoke-ReadmeGeneration.ps1 (#336)
  eng/common/Invoke-ReadmeGeneration.ps1
Due: eng/pipelines/push-common-updates.yml

Change Windows build pool used by image-builder pools (#337)
  eng/pipelines/templates/jobs/build-image-builder.yml
Due: none

Add MCR tags yaml support Ubuntu focal (#334)
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
Due: none

Update eng common to use the latest image-builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

Update eng common to use the latest image-builder (#338)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

Normalize matrix name in Image Builder
  eng/common/templates/stages/build-test-publish-repo.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/push-common-updates.yml

Translate ltsc2019 to 1809
  eng/common/templates/stages/build-test-publish-repo.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/push-common-updates.yml

Update job name
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/push-common-updates.yml

Consolidate Windows-based job pools in pipeline (#335)
  eng/common/templates/stages/build-test-publish-repo.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/push-common-updates.yml

Update to latest Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

Update to latest Image Builder tags (#339)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/push-common-updates.yml

dotnet-docker bug 1436 change run-tests param from IsLocalRun to PullImages
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/push-common-updates.yml

Update to match pull request in dotnet-docker
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/push-common-updates.yml

GetStaleImagesCommand fix for unknown base images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: none

GetStaleImagesCommand fix for unknown base images (#345)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: none

Fix ARM-based base image checks
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: none
