Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*
pr: none

variables:
- template: /eng/pipelines/templates/variables/image-builder.yml@self

extends:
  template: /eng/common/templates/1es-official.yml@self
  parameters:
    stages:
    - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
      parameters:
        noCache: true
        internalProjectName: ${{ variables.internalProjectName }}
        publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml
# Define these as placeholder values to allow string validation to succeed since we don't have the
# variable group with the actual values in public builds.
- name: acr.servicePrincipalTenant
  value: 00000000-0000-0000-0000-000000000000
- name: acr.subscription
  value: 00000000-0000-0000-0000-000000000000

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: /eng/pipelines/templates/variables/eng-validation.yml@self

extends:
  template: /eng/common/templates/1es-unofficial.yml@self
  parameters:
    stages:
    - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
      parameters:
        noCache: true
        internalProjectName: ${{ variables.internalProjectName }}
        publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

[main] Update Image Builder tag reference (#1431)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix dry run handling in generateEolAnnotationData (#1438)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1439)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix build command for local dev scenario (#1440)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1441)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

generateEolAnnotationData: handle missing image info files (#1442)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Method renames
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

updates
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove local tag logic (#1445)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use relative links only for mcr tags metadata
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Readme.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/RepoInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable relative links in Docker image tags tables (#1446)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add ImageBuilder container build instructions
  README.md
  src/Microsoft.DotNet.ImageBuilder/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Image caching: query digest from registry instead of local image (#1427)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageCacheService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1447)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Trim matrix based on image cache state
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary Docker client version check
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary Docker client version check (#1450)
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update projects to .NET 9
  eng/common/Install-DotNetSdk.ps1
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/yaml-updater.csproj
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix build error
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename extension method that was conflicting with new runtime method
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CommandExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/src/StringExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update projects to .NET 9 (#1452)
  eng/common/Install-DotNetSdk.ps1
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/yaml-updater.csproj
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CommandExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/StringExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add ImageBuilder container build instructions (#1448)
  README.md
  src/Microsoft.DotNet.ImageBuilder/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add pipeline support for Windows Server 2025
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add pipeline support for Windows Server 2025 (#1454)
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Trim matrix based on image cache state (#1449)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageNameResolver.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1451)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support path filters for matrix trimming
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable tsa and policheck in pipelines
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Enable tsa and policheck in pipelines (#1457)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support path filters for matrix trimming (#1456)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1458)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support matrix trimming in pipeline
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/common-init-for-matrix-and-build.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add "unlisted/" to common officialRepoPrefixes
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove InnerManifestService by using interface default implementations
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IInnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/InnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceDefaultImplementationTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove InnerManifestService by using interface default implementations (#1461)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IInnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/InnerManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceDefaultImplementationTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support for testing of internal builds
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
