Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

Upgrade package versions referenced by Image Builder
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Upgrade package versions referenced by Image Builder (#1131)
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable buildkit
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Factor out env var assignment
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

factor out even more process info stuff
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable BuildKit in ImageBuilder (#1132)
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Allow passing docker secret mounts through imagebuilder
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CliHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates for code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add basic test
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use plural version of secret info
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable BuildKit on Linux only
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use better OS check
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disable BuildKit on Windows (#1134)
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1129)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder package dependencies
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Enable BuildKit in ImageBuilder"
  eng/common/templates/variables/docker-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Enable BuildKit in ImageBuilder" (#1136)
  eng/common/templates/variables/docker-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1137)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder package dependencies (#1135)
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1138)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix platformVersionedOs leg generation for shared cached parent images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update comments
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix platformVersionedOs leg generation for shared cached parent images (#1142)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1140)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix graph generation to include grandparents in calculation
  src/Microsoft.DotNet.ImageBuilder/src/GraphExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Correct and simplify cached options in test
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove Fedora from base image override
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove Fedora from base image override (#1144)
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix artificial sdk->sdk cycle introduced in testing manifest
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix build matrix graph generation to include grandparents in calculation (#1143)
  src/Microsoft.DotNet.ImageBuilder/src/GraphExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1145)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1146)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1147)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
