Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Ensure .NET Docker bot is used in pipelines
  eng/pipelines/push-common-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Update ImageBuilder tags (#427)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Ensure .NET Docker bot is used in pipelines (#428)
  eng/pipelines/push-common-updates.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Removes the filter suffix from build scripts
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  test/pipeline-validation/run-tests.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Removes the filter suffix from build scripts (#429)
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  test/pipeline-validation/run-tests.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Ensure std err is redirected
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove from DockerHelper
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update image info schema to have image/platform concepts
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/RepoData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume process output from events
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Ensure std err is redirected (#430)
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#439)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update image info schema to have image/platform concepts (#437)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/RepoData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store the digest of only the final stage's base image
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update PR pipeline to run for feature branch
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Store the digest of only the final stage's base image (#440)
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Store a schema version in the image info file
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/RepoData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store a schema version in the image info file (#441)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MergeImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageArtifactDetails.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/RepoData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store product version in image info
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Image.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Consume ProductVersion when generating build matrix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include shared tag data in image info output
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store product version in image info (#442)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Image.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include shared tag data in image info output (#443)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store Created date in image info output
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store Created date for shared tags
  eng/common/templates/jobs/publish.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/SharedTag.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DockerfileHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/UpdateImageSizeBaselineCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ValidateImageSizeCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Resolve variable refs in ProductVersion
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve variable refs in ProductVersion (#445)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove separate output file parameter
  eng/common/templates/jobs/publish.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add ManifestData element to contain Created date
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/SharedTag.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Store Created date in image info output (#444)
  eng/common/templates/jobs/publish.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DockerfileHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/UpdateImageSizeBaselineCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ValidateImageSizeCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include manifest digest in image info
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include manifest digest in image info (#446)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestToolService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Helper script for pulling internal Windows images
  eng/common/Pull-IntWindows.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix parsing of product version
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix parsing of product version (#450)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disable dotnet-docker/nightly branch subscription
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml
