Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    noCache: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: eng/tests/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./eng/tests/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: eng/tests/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/
- name: imageInfoVariant
  value: "-test"

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

Pipeline variable refactoring (#841)
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/push-common-updates.yml
  eng/pipelines/templates/steps/copy-base-images.yml
  eng/pipelines/templates/steps/get-stale-images.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/eng-validation.yml
  eng/pipelines/templates/variables/image-builder.yml
  eng/pipelines/update-image-builder-tag.yml
  eng/pipelines/validate-remote-docker-config.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Inspect packages by version number
  eng/get-installed-packages.sh
  eng/get-upgradable-packages.bash.sh
  eng/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add package type to installed packages output
  eng/get-installed-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Move script to common folder
  eng/common/get-installed-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include WS 2022 version of Image Builder
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix manifest publishing for syndicated tags
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix manifest publishing for syndicated tags (#844)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference (#845)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix tagging of AutoBuilder builds
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IBuildHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include WS 2022 version of Image Builder (#842)
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix tagging of AutoBuilder builds (#846)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IBuildHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#848)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move 'clean-acr-images.yml' into common, to share
  eng/common/templates/steps/clean-acr-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add ingestKustoImageInfo opt-out variable
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference (#854)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add ingestKustoImageInfo opt-out variable (#853)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move 'clean-acr-images.yml' into common, to share (#852)
  eng/common/templates/steps/clean-acr-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clarify error message for queueBuild command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference (#856)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reuse const for tag name
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Define floating tags for Image Builder
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Adds retry logic to network requests
  eng/common/Install-DotNetSdk.ps1
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyBaseImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHubClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpPolicyBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/AzdoGitHttpClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/SubscriptionHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support product version for manifest filter
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestFilterOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use WS 2022 pool to run image size tests
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update script to handle cmdlet invocation in addition to processes
  eng/common/Invoke-WithRetry.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Track syndicated manifest digests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DateTimeService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDateTimeService.cs
  src/Microsoft.DotNet.ImageBuilder/src/JsonHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support product version for manifest filter (#859)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestFilterOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clarify error message for queueBuild command (#855)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use WS 2022 pool to run image size tests (#860)
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference (#862)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to pull images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Product version filtering fix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ImageInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformDataTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Track syndicated manifest digests (#861)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DateTimeService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDateTimeService.cs
  src/Microsoft.DotNet.ImageBuilder/src/JsonHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ManifestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PullImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
