Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

Fix build error due to libgit2sharp breaking changes
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update libgit2sharp and remove dependency on libssl 1.1 compat libraries (#1205)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add support for Noble (24.04) to ImageBuilder
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add support for Noble (24.04) to ImageBuilder (#1206)
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Microsoft.DotNet.Git.IssueManager to pick up new version of octokit
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Microsoft.DotNet.Git.IssueManager to pick up new version of OctoKit (#1209)
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder version
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1202)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1211)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Convert upload-file pipeline to use 1ES templates
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pool
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Convert upload-file pipeline to use 1ES templates (#1212)
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Convert the check-base-image-updates pipeline to use 1ES templates
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate to 1ES pipeline templates
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove duplicate template usage
  eng/common/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add clarification of pool groupings
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate to 1ES pipeline templates (#1215)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update eng/pipelines/check-base-image-updates.yml
  eng/pipelines/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Convert the check-base-image-updates pipeline to use 1ES templates (#1214)
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix pipeline stage names
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Convert the cg-detection pipeline to use 1ES templates
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/variables/codeql.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Apply suggestions from code review
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add Names
  eng/common/templates/jobs/cg-build-projects.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Convert the cg-detection pipeline to use 1ES templates (#1218)
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/variables/codeql.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Migrate eng-validation pipeline to 1ES unofficial template
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Refactor handling of skipComponentGovernanceDetection variable
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix pipeline stage names (#1217)
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/upload-file.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update Microsoft.DotNet.VersionTools
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Refactor skipComponentGovernanceDetection variable handling (#1221)
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fail pipeline for non-http exceptions
  eng/src/file-pusher/FilePusher.cs
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Migrate eng-validation pipeline to 1ES unofficial template (#1223)
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Revert "Fail pipeline for non-http exceptions"
  eng/src/file-pusher/FilePusher.cs
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update Microsoft.DotNet.VersionTools and force failure of file-pusher pipeline on error (#1222)
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

[main] Update Image Builder tag reference (#1225)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move 1ES PT image definition inside internal project conditional
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move 1ES PT image definition inside internal project conditional (#1226)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use WS2016 image with support for 1ES Pipeline Templates
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
