Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml
# Define these as placeholder values to allow string validation to succeed since we don't have the
# variable group with the actual values in public builds.
- name: acr.servicePrincipalTenant
  value: 00000000-0000-0000-0000-000000000000
- name: acr.subscription
  value: 00000000-0000-0000-0000-000000000000

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: /eng/pipelines/templates/variables/eng-validation.yml@self

extends:
  template: /eng/common/templates/1es-unofficial.yml@self
  parameters:
    stages:
    - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
      parameters:
        noCache: true
        internalProjectName: ${{ variables.internalProjectName }}
        publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

Rename var
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Extract logic into method
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove option to force annotation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Address review comments
  src/Microsoft.DotNet.ImageBuilder/src/AzureScopes.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolDigestData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Factor output status reporting into separate component
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command for generation of EOL annotation data file (#1358)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/AcrEventEntry.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolDigestData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/AsyncPageableMock.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ContainerRegistryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Ingestion options refactoring
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MarIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1365)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include annotation bulk deletion info in command output
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/MarBulkDeletion/BulkDeletionDescription.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to wait for annotation ingestion
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DigestInfoEqualityComparer.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMarAnnotationIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from review comments
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/MarBulkDeletion/BulkDeletionDescription.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from review comments
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove force annotate option (#1364)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/MarBulkDeletion/BulkDeletionDescription.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add command to wait for EOL annotation ingestion (#1367)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/MarIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DigestInfoEqualityComparer.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMarAnnotationIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1366)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove GenerateImageGraph command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused Docker model classes
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Descriptor.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/SchemaV2Manifest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused packages and update remaining packages
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove GenerateImageGraph command (#1369)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Descriptor.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Docker/SchemaV2Manifest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Cleanup model structure
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/AcrEventEntry.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Oras/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Oras/OrasDiscoverData.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable CG dry run
  eng/common/templates/jobs/cg-build-projects.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add explanation comment for some variables
  eng/common/templates/jobs/cg-build-projects.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix for annotation MAR ingestion logic
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMarAnnotationIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update implicitly referenced package versions
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update Azure.Core version
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Inline PowerShell task
  eng/common/templates/jobs/cg-build-projects.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Force failure when running cg dry run on production branch
  eng/common/templates/jobs/cg-build-projects.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Annotation ingestion (#1373)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/AcrEventEntry.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Oras/OciManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Oras/OrasDiscoverData.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMarAnnotationIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve CG dry run pipeline output (#1371)
  eng/common/templates/jobs/cg-build-projects.yml
  eng/pipelines/cg-detection.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clean up unused packages and update remaining packages (#1372)
  eng/src/file-pusher/file-pusher.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Backport dotnet-docker changes to test arguments variables
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix for waiting on annotation ingestion
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Backport dotnet-docker changes to test arguments variables (#1374)
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix for waiting on annotation ingestion (#1375)
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1370)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
