Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/common/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common

Add CodeQL comment for DefaultAzureCredential usage in DEBUG builds (#1777)
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Command to mark non-prod images as EOL
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForNonProdCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForNonProdOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/RegistryOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Delete unneeded file
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForNonProdOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Check out versions repo even if publishImageInfo is false
  eng/common/templates/steps/init-matrix-build-publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

move writing of JSON outside of credential scope
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

add Async method name suffix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForNonProdCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add unofficial pipeline for image builder (#1771)
  eng/common/templates/1es.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/init-matrix-build-publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/task-prefix-decorator.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
  eng/pipelines/templates/stages/build-test-publish.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/eng-validation.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

move ExecuteAsync to base
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForNonProdCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update cmd descriptions and names
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Automatically detect whether a build is in PR validation
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Invert condition
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Automatically detect whether a build is in PR validation (#1779)
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  eng/pipelines/dotnet-buildtools-image-builder-unofficial.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-unofficial.yml
  eng/pipelines/templates/stages/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

refactor
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to mark non-prod images as EOL (#1778)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataForPublishOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/RegistryOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataForPublishCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass publishConfig through set-dry-run.yml template
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove default value for publishConfig
  eng/common/templates/steps/set-dry-run.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pass publishConfig through set-dry-run.yml template (#1782)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/set-dry-run.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pass publish config through wait-for-mcr-image-ingestion.yml
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update parameters in wait-for-mcr-image-ingestion template
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update condition type
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pass publishConfig through wait-for-mcr-image-ingestion.yml (#1783)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Convert to file-scoped namespace
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename entrypoint to Program.cs
  src/Microsoft.DotNet.ImageBuilder/src/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use top level statements for program entrypoint
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/Program.cs
  src/Microsoft.DotNet.ImageBuilder/tests/DependencyInjectionTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix service connection references in annotate-eol-digests.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix service connection references in annotate-eol-digests.yml (#1785)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Run syft directly to collect SBOM
  eng/common/Dockerfile.syft
  eng/common/Pull-Image.ps1
  eng/common/pull-image.sh
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove extra newline
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1774)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update EOL command usage
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update EOL command usage (#1788)
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Register mergeImageInfo command
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Register generateReadmesCommand
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

use script to pull image
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Register missing ImageBuilder commands (#1790)
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
