Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/image-info-schema
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Update Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tags (#536)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add uniqueness to artifact names to fix retry attempts
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove testing code
  eng/common/templates/jobs/post-build.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove usage of filename in comments since it's actually a directory
  eng/common/templates/jobs/post-build.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add uniqueness to artifact names to fix retry attempts (#537)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove osVersion parameter when building
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ACR cleanup to be driven from cmd options
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/EnumHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove osVersion parameter when building (#540)
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support for multiple os-version options
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestFilterOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support for multiple os-version options (#546)
  eng/common/templates/jobs/build-images.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestFilterOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestFilter.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Consume new osVersions variable from build matrix
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tags (#548)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix build matrix generation for custom leg groupings
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix build matrix generation for custom leg groupings (#550)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tags (#551)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ACR cleanup to be driven from cmd options (#541)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ValidateImageSizeOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/EnumHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Ref the new image info variant for docker-tools test builds
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Ref the new image info variant for docker-tools test builds (#552)
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Publish Linux ARM version of Image Builder
  .dockerignore
  .gitignore
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  eng/pipelines/templates/jobs/build-image-builder-image.yml
  eng/pipelines/templates/jobs/build-image-builder.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/build.ps1
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix ACR querying issue
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix ACR querying issue (#554)
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Clean ACR image pipelines
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/steps/clean-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  eng/pipelines/templates/variables/image-builder.yml
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Publish Linux ARM version of Image Builder (#553)
  .dockerignore
  .gitignore
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml
  eng/pipelines/templates/jobs/build-image-builder-image.yml
  eng/pipelines/templates/jobs/build-image-builder.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/build.ps1
  src/Microsoft.DotNet.ImageBuilder/manifest.json
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use Image Builder multi-arch tag
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Clean ACR image pipelines (#555)
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/steps/clean-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip image info initialization when not needed
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/validate-image-sizes.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move setting of arg to build job template
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/validate-image-sizes.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Skip image info initialization when not needed (#557)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix image info arg for build
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use Image Builder multi-arch tag (#556)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reference multi-arch tag of testrunner
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix image info arg for build (#559)
  eng/common/templates/jobs/build-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reference multi-arch tag of testrunner (#560)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Backport changes to support src directory in build.ps1
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
