Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
      - template: /eng/common/templates/stages/dotnet/publish-config-prod.yml@self
        parameters:
  ...

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      sourceBuildPipelineRunId: $(Build.BuildId)
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
  ...

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/templates/stages/build-test-publish.yml@self
      stagesTemplateParameters:
        noCache: true
        versionsRepoRef: VersionsRepo
  ...

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      serviceConnections:
      - name: $(internal-mirror.serviceConnectionName)
      - name: $(build.serviceConnectionName)
      - name: $(publish.serviceConnectionName)
      - name: $(kusto.serviceConnectionName)
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Move ManifestInfo serialization to separate namespace
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestInfoSerializationExtensions.cs
  src/TemplateGenerator.Benchmarks/ManifestBenchmarks.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused usings
  src/TemplateGenerator/TemplateGeneratorCli.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Get template generation working
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/ImageBuilder.Models/ReadModel/ManifestInfoExtensions.cs
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestInfoSerializationExtensions.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Cottle/CottleContextExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Get sub-templates working without crashing
  src/TemplateGenerator.Benchmarks/Program.cs
  src/TemplateGenerator.Benchmarks/SimpleTemplateBenchmarks.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Abstractions/IFileSystem.cs
  src/Templating/Cottle/CottleContextExtensions.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
  src/Templating/FileSystem.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Define official/unofficial cleanup pipelines
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/pipelines/cleanup-acr-images-custom-official.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images-official.yml
  eng/pipelines/cleanup-acr-images-unofficial.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Enable dry run
  eng/pipelines/cleanup-acr-images-custom-official.yml
  eng/pipelines/cleanup-acr-images-official.yml
  eng/pipelines/cleanup-acr-images-unofficial.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-dry-run-arg.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add EOL annotations to cleanup
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix ARGS and VARIABLES in templates
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Cottle/CottleContextExtensions.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add sub-template trimming
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Reorder fields
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Apply trimming and indent after document render
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Abstractions/ICompiledTemplate.cs
  src/Templating/Cottle/CottleTemplate.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add replace function
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix OS_VERSION_BASE variable
  src/Templating/Cottle/CottleContextExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add file system and template caches
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
  src/Templating/FileSystem.cs
  src/Templating/FileSystemCache.cs
  src/Templating/ForeverCache.cs
  src/Templating/ICache.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use source generated JSON serialization
  src/ImageBuilder.Models/ReadModel/JsonHelper.cs
  src/ImageBuilder.Models/ReadModel/ManifestPreprocessor.cs
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestInfoSerializationExtensions.cs
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestSerializationContext.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move JsonHelper to Serialization namespace
  src/ImageBuilder.Models/ReadModel/Serialization/JsonHelper.cs
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestInfoSerializationExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add GenerateDockerfiles benchmark
  src/TemplateGenerator.Benchmarks/GenerateDockerfilesBenchmarks.cs
  src/TemplateGenerator.Benchmarks/Program.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enable Native AOT
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
  src/ImageBuilder.Models/ReadModel/ManifestPreprocessor.cs
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestSerializationContext.cs
  src/TemplateGenerator/TemplateGenerator.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use fully synchronous manifest loading
  src/ImageBuilder.Models/ReadModel/Serialization/ManifestInfoSerializationExtensions.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Get readme generation working
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/ImageBuilder.Models/ReadModel/PathHelper.cs
  src/TemplateGenerator/LoggingExtensions.cs
  src/TemplateGenerator/TemplateGeneratorCli.cs
  src/Templating/Cottle/CottleContextExtensions.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix nullable warnings in ImageBuilder
  src/ImageBuilder/Commands/CopyBaseImagesCommand.cs
  src/ImageBuilder/ImageNameResolver.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add benchmark for GenerateReadmes and GenerateAll
  src/TemplateGenerator.Benchmarks/GenerateDockerfilesBenchmarks.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Implement rudimentary tags table generation
  src/ImageBuilder.Models/ReadModel/ManifestInfo.cs
  src/Templating/Abstractions/ITableBuilder.cs
  src/Templating/Cottle/CottleContextExtensions.cs
  src/Templating/Readmes/MarkdownTableBuilder.cs
  src/Templating/Readmes/TagExtensions.cs
  src/Templating/Readmes/TagsTableGenerator.cs
  src/Templating/Shared/ArchDisplayExtensions.cs
  src/Templating/Shared/OsHelper.cs
  src/Templating/Shared/PlatformInfoSharedExtensions.cs
  src/Templating/Shared/StringExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve template engine abstraction
  src/Templating/Abstractions/ITemplateEngine.cs
  src/Templating/Cottle/CottleTemplateEngine.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Inventory drift
  es-metadata.yml
Due: none

Onboard to inventory-as-code (#1812)
  es-metadata.yml
Due: none

[main] Update Image Builder tag reference (#1809)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update projects to .NET 10
  .devcontainer/devcontainer.json
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/cg-build-projects.yml
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/file-pusher.csproj
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/yaml-updater.csproj
  src/Dockerfile.linux
  src/Dockerfile.windows
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove commented out package reference
  eng/src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/clean-acr-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Parameterize acr for annotate-eol-digests.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Clean action comments
  eng/pipelines/cleanup-acr-images-custom-official.yml
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Differentiate step names
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use long-form parameter syntax
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-dry-run-arg.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Dry Run refactoring
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-dry-run-arg.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Include EOL annotations of staging images in cleanup pipeline (#1810)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/publish-config-nonprod.yml
  eng/common/templates/stages/dotnet/publish-config-prod.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/pipelines/cleanup-acr-images-custom-official.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images-official.yml
  eng/pipelines/cleanup-acr-images-unofficial.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/templates/stages/cleanup-acr-images-custom.yml
  eng/pipelines/templates/stages/cleanup-acr-images.yml
  eng/pipelines/templates/steps/set-eol-annotations.yml
  src/ImageBuilder/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove manifest-tool installation from Windows Dockerfile
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update EOL task name references
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update EOL task name references (#1818)
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove manifest-tool installation from Windows Dockerfile (#1817)
  src/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/common/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
