Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/templates, eng/docker-tools/templates, src
  eng/pipelines/dotnet-docker-tools-eng-validation-official.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/docker-tools

Don't sign ImageBuilder assemblies
  src/Directory.Build.props
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update tools in global.json
  global.json
Due: none

Fix build in Dockerfile due to missing outer Directory.Build.props file
  src/Directory.Build.props
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Allow empty sign list
  Directory.Build.props
Due: none

Update pipeline templates
  eng/pipelines/docker-tools-packages-pr.yml
  eng/pipelines/templates/variables/packages-common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Swap public/internal build images
  eng/pipelines/templates/variables/packages-common.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Create Signing.props
  Directory.Build.props
  eng/Signing.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add stub project to give Arcade something to publish
  Microsoft.DotNet.DockerTools.slnx
  src/ImageBuilder.Models/Manifest.cs
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update global.json to use 9.0.300 again but allow roll forward
  global.json
Due: none

NoWarn CS8002 instead of setting SignAssembly to false
  src/Directory.Build.props
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean up unused targets code
  Directory.Build.targets
Due: none

Update 9.0 runtime referenced in global.json
  global.json
Due: none

Unset AllowEmptySigningList
  eng/Signing.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add build scripts to repo root
  build.cmd
  build.sh
Due: none

Update readmes
  README.md
  src/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Enforce file header presence
  .editorconfig
  src/ImageBuilder.Models/Microsoft.DotNet.ImageBuilder.Models.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add file header
  src/ImageBuilder.Models/Manifest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add official and unofficial versions of build pipeline
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-unofficial.yml
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
  eng/pipelines/templates/variables/packages-build-pools.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Try to disable signing for unofficial builds
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-pr.yml
  eng/pipelines/docker-tools-packages-unofficial.yml
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Try disabling signing
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add switch for publishing
  eng/pipelines/docker-tools-packages-official.yml
  eng/pipelines/docker-tools-packages-pr.yml
  eng/pipelines/docker-tools-packages-unofficial.yml
  eng/pipelines/templates/jobs/build-and-publish-packages.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Factor out default SDL pool and image variables
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/sdl-pool.yml
  eng/pipelines/templates/variables/packages-build-pools.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove Version.Details.props
  eng/Version.Details.props
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Set SignAssembly to false for projects that transitively depend on Cottle
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
  src/ImageBuilder/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename registry client classes for clarity
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/Helpers/ContainerRegistryHelper.cs
  src/ImageBuilder.Tests/RegistryContentClientFactoryTests.cs
  src/ImageBuilder/AcrClientFactory.cs
  src/ImageBuilder/AcrClientWrapper.cs
  src/ImageBuilder/AcrContentClientFactory.cs
  src/ImageBuilder/AcrContentClientWrapper.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/ContainerRegistryClientFactory.cs
  src/ImageBuilder/IAcrClient.cs
  src/ImageBuilder/IAcrClientFactory.cs
  src/ImageBuilder/IAcrContentClient.cs
  src/ImageBuilder/IAcrContentClientFactory.cs
  src/ImageBuilder/IRegistryManifestClient.cs
  src/ImageBuilder/IRegistryManifestClientFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ManifestService.cs
  src/ImageBuilder/ManifestServiceFactory.cs
  src/ImageBuilder/RegistryApiClient.cs
  src/ImageBuilder/RegistryManifestClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename test helper methods to reflect new interface names
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/Helpers/ContainerRegistryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename test class to reflect new interface name
  src/ImageBuilder.Tests/RegistryManifestClientFactoryTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename registry client classes for clarity (#1869)
  src/ImageBuilder.Tests/CleanAcrImagesCommandTest.cs
  src/ImageBuilder.Tests/GenerateEolAnnotationDataForPublishCommandTests.cs
  src/ImageBuilder.Tests/Helpers/ContainerRegistryHelper.cs
  src/ImageBuilder.Tests/RegistryManifestClientFactoryTests.cs
  src/ImageBuilder/AcrClientFactory.cs
  src/ImageBuilder/AcrClientWrapper.cs
  src/ImageBuilder/AcrContentClientFactory.cs
  src/ImageBuilder/AcrContentClientWrapper.cs
  src/ImageBuilder/Commands/CleanAcrImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataCommandBase.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForAllImagesCommand.cs
  src/ImageBuilder/Commands/GenerateEolAnnotationDataForPublishCommand.cs
  src/ImageBuilder/ContainerRegistryClientFactory.cs
  src/ImageBuilder/IAcrClient.cs
  src/ImageBuilder/IAcrClientFactory.cs
  src/ImageBuilder/IAcrContentClient.cs
  src/ImageBuilder/IAcrContentClientFactory.cs
  src/ImageBuilder/IRegistryManifestClient.cs
  src/ImageBuilder/IRegistryManifestClientFactory.cs
  src/ImageBuilder/ImageBuilder.cs
  src/ImageBuilder/ManifestService.cs
  src/ImageBuilder/ManifestServiceFactory.cs
  src/ImageBuilder/RegistryApiClient.cs
  src/ImageBuilder/RegistryManifestClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add IsTestProject property
  src/ImageBuilder.Tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Version.Details.props
  eng/Version.Details.props
  eng/Versions.props
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use 1ES pipeline templates for official packages pipeline
  eng/pipelines/docker-tools-packages-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use ApplicationBuilder instead of DefaultBuilder
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use 1ES pipeline templates for official packages pipeline (#1871)
  eng/pipelines/docker-tools-packages-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use ApplicationBuilder instead of DefaultBuilder (#1872)
  src/ImageBuilder/ImageBuilder.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

[main] Update Image Builder tag reference (#1867)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ORAS to 1.3.0 and make version configurable via ARG (#1874)
  src/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Create container build repo root variable
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-official.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
