Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-unofficial.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Update final stage ordering too
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make better use of layer caching in Dockerfile (#1320)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move scopes to dedicated class
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureScopes.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Change AzureTokenCredentialProvider to cache creds as needed
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert Lazy ArmClient change
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Revert Lazy ArmClient change"
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Specify ACR for Copying Images (#1295)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete AllScopes
  src/Microsoft.DotNet.ImageBuilder/src/AzureScopes.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve Azure token logic (#1321)
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureScopes.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve templating error reporting
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Improve templating error reporting (#1324)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateArtifactsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Make service connection conditions template-time
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Evaluate undefined service connection variables to empty strings at pipline queue time
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Catch Overflow exceptions to workaround OctoKit issue
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Catch Overflow exceptions to workaround OctoKit issue (#1325)
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass through linuxArmBuildJobTimeout
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pass through linuxArmBuildJobTimeout (#1326)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete unused variable
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete unused variable (#1327)
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Explicitly reference OctoKit in ImageBuilder
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Revert "Catch Overflow exceptions to workaround OctoKit issue (#1325)"
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Explicitly reference Octokit package in ImageBuilder and revert #1325 (#1328)
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update to latest tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Move ArmClient initialization out of dry run
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Move ArmClient initialization out of dry run (#1330)
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update image tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pipeline Changes for Pushing Mirror and Build-Staging Repositories to Separate ACR (#1309)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Command for annotating EOL digests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IOrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolDigestData.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Few tweaks
  src/Microsoft.DotNet.ImageBuilder/src/Models/Annotations/EolAnnotationsData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rewrite
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images-staging.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/pipelines/mirror-base-images.yml
  eng/pipelines/templates/jobs/check-base-image-updates.yml
  eng/pipelines/templates/jobs/copy-base-images-public-mirror.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix fox linux tests
  src/Microsoft.DotNet.ImageBuilder/tests/AnnotateEolDigestsCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix staging server variable reference for PowerShell
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix staging server variable reference for PowerShell (#1336)
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix check-base-image-updates
  eng/pipelines/templates/jobs/check-base-image-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
  src/Microsoft.DotNet.ImageBuilder/src/OrasService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
