Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - src/*
pr: none

variables:
- template: /eng/pipelines/templates/variables/image-builder.yml@self

extends:
  template: /eng/common/templates/1es-official.yml@self
  parameters:
    stages:
    - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
      parameters:
        noCache: true
        internalProjectName: ${{ variables.internalProjectName }}
        publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

trigger: none

variables:
- template: templates/variables/eng-validation.yml
# Define these as placeholder values to allow string validation to succeed since we don't have the
# variable group with the actual values in public builds.
- name: acr.servicePrincipalTenant
  value: 00000000-0000-0000-0000-000000000000
- name: acr.subscription
  value: 00000000-0000-0000-0000-000000000000

stages:
- template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true
    internalProjectName: ${{ variables.internalProjectName }}
    publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: /eng/pipelines/templates/variables/eng-validation.yml@self

extends:
  template: /eng/common/templates/1es-unofficial.yml@self
  parameters:
    stages:
    - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
      parameters:
        noCache: true
        internalProjectName: ${{ variables.internalProjectName }}
        publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - eng/common/*
pr: none

variables:
- template: ../common/templates/variables/common.yml

jobs:
- job: Build
  pool:
    vmImage: $(defaultLinuxAmd64PoolImage)
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      $(dotnetDockerBot.userName)
      $(dotnetDockerBot.email)
      $(BotAccount-dotnet-docker-bot-PAT)
    displayName: Run File Pusher

Revert some changes that need to wait for new ImageBuilder image
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete product version EOL handling (#1590)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/DotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDotNetReleasesService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateEolAnnotationDataCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add devcontainer config
  src/Microsoft.DotNet.ImageBuilder/.devcontainer/devcontainer.json
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update devcontainer config
  .devcontainer/devcontainer.json
Due: none

Create new solution
  Microsoft.DotNet.DockerTools.sln
Due: none

Move eng/src/* to src/
  src/file-pusher/AzDoSafeTraceListenerWrapper.cs
  src/file-pusher/Dockerfile
  src/file-pusher/FilePusher.cs
  src/file-pusher/Models/Config.cs
  src/file-pusher/Models/GitRepo.cs
  src/file-pusher/Options.cs
  src/file-pusher/file-pusher.csproj
  src/yaml-updater/Dockerfile
  src/yaml-updater/Options.cs
  src/yaml-updater/YamlUpdater.cs
  src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename eng projects
  src/FilePusher/AzDoSafeTraceListenerWrapper.cs
  src/FilePusher/Dockerfile
  src/FilePusher/FilePusher.cs
  src/FilePusher/FilePusher.csproj
  src/FilePusher/Models/Config.cs
  src/FilePusher/Models/GitRepo.cs
  src/FilePusher/Options.cs
  src/YamlUpdater/Dockerfile
  src/YamlUpdater/Options.cs
  src/YamlUpdater/YamlUpdater.cs
  src/YamlUpdater/YamlUpdater.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove old tools solution
  eng/src/tools.sln
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Distribute remaining files in old ImageBuilder folder
  src/ImageBuilder/.dockerignore
  src/ImageBuilder/Dockerfile.linux
  src/ImageBuilder/Dockerfile.windows
  src/ImageBuilder/NuGet.config
  src/ImageBuilder/README.md
  src/ImageBuilder/build.ps1
  src/ImageBuilder/manifest.json
  src/Microsoft.DotNet.ImageBuilder/Microsoft.DotNet.ImageBuilder.sln
  tests/ImageBuilder.Tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Rename projects
  Microsoft.DotNet.DockerTools.sln
  src/ImageBuilder/ImageBuilder.csproj
  src/YamlUpdater/YamlUpdater.csproj
  tests/ImageBuilder.Tests/ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Directory.build.props with common properties
  Directory.build.props
  src/FilePusher/FilePusher.csproj
  src/ImageBuilder/ImageBuilder.csproj
  tests/ImageBuilder.Tests/ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update references to imagebuilder binaries
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/steps/cleanup-docker-windows.yml
  eng/common/templates/steps/init-docker-windows.yml
  src/ImageBuilder/Dockerfile.linux
  src/ImageBuilder/Dockerfile.windows
  src/ImageBuilder/README.md
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update base image subscription path
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update some documentation
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  documentation/manifest-file.md
Due: none

Update dependabot directories
  .github/dependabot.yml
Due: none

Fix ImageBuilder build
  Directory.build.props
  README.md
  manifest.json
  src/FilePusher/FilePusher.csproj
  src/ImageBuilder/Dockerfile.linux
  src/ImageBuilder/Dockerfile.windows
  src/ImageBuilder/ImageBuilder.csproj
  src/ImageBuilder/README.md
  src/ImageBuilder/build.ps1
  src/YamlUpdater/YamlUpdater.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update pipeline variables
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update file pusher and yaml updater dockerfiles
  eng/pipelines/push-common-updates.yml
  eng/pipelines/update-image-builder-tag.yml
  src/FilePusher/Dockerfile
  src/YamlUpdater/Dockerfile
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update reference to imagebuilder binary
  documentation/manifest-file.md
Due: none

Revert more pipeine changes temporarily
  eng/common/templates/steps/cleanup-docker-windows.yml
  eng/common/templates/steps/init-docker-windows.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ignore files
  .dockerignore
  .gitignore
Due: none

Add properties back to test project
  tests/ImageBuilder.Tests/ImageBuilder.Tests.csproj
Due: none

Revert more
  eng/common/templates/steps/cleanup-docker-windows.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add devcontainer config (#1601)
  .devcontainer/devcontainer.json
Due: none

Update variables
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Remove workaround for BuildKit Dockerfile caching issue
  .devcontainer/devcontainer.json
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

WIP
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix tests
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fail ingest Kusto data test
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix Kusto test
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1599)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove workaround for BuildKit Dockerfile caching issue (#1603)
  .devcontainer/devcontainer.json
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

[main] Update Image Builder tag reference (#1605)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
