Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  jobs:
  - template: templates/jobs/build-image-builder.yml
    parameters:
      publishImages: false

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool: Hosted Ubuntu 1604
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Target multi-arch Image Builder tag in script
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Backport changes to support src directory in build.ps1 (#561)
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Target multi-arch Image Builder tag in script (#562)
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support ARM-based Linux build agents
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipelines to use ubuntu-latest VM image
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/push-common-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update variable name
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/push-common-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support ARM-based Linux build agents (#564)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add support for capturing debian slim details within osVersion metadata
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add test script for Image Builder
  .gitignore
  eng/common/Install-DotNetSdk.ps1
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
  eng/pipelines/templates/variables/image-builder.yml
  eng/tests/pipeline-validation/1.0/focal/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
  eng/tests/pipeline-validation/1.0/nanoserver-1809/amd64/Dockerfile
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/run-tests.ps1
  eng/tests/pipeline-validation/test-manifest.json
  eng/tests/pipeline-validation/test-tags.yml
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Dockerfiles to exclude sln
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix script relative paths
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Access token and locking refactoring
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/AsyncLockedValue.cs
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/IHttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/LockHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove explicit build of project
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use testResultsDirectory for Windows tests
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add test script for Image Builder (#567)
  .gitignore
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/steps/test-images-windows-client.yml
  eng/pipelines/dotnet-docker-tools-eng-validation.yml
  eng/pipelines/templates/variables/image-builder.yml
  eng/tests/pipeline-validation/1.0/focal/amd64/Dockerfile
  eng/tests/pipeline-validation/1.0/focal/arm64v8/Dockerfile
  eng/tests/pipeline-validation/1.0/nanoserver-1809/amd64/Dockerfile
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/run-tests.ps1
  eng/tests/pipeline-validation/test-manifest.json
  eng/tests/pipeline-validation/test-tags.yml
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipelines to use ubuntu-latest VM image (#565)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/push-common-updates.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add support for capturing debian slim details within osVersion metadata (#566)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update eng common infra ImageBuilder tag to latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update eng common infra ImageBuilder tag to latest (#569)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Include all osVersions in build matrix common Variables
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Include all osVersions in build matrix common Variables (#570)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add missing newline
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Access token and locking refactoring (#568)
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/AsyncLockedValue.cs
  src/Microsoft.DotNet.ImageBuilder/src/AuthHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/IHttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/LockHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag (#571)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Commands to wait for publish results
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ServicePrincipalOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForImagePublishCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForImagePublishOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForReadmePublishCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForReadmePublishOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpPolicyBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/IMcrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IMcrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitResultDetailed.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ContentSubstatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageResultDetailed.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageSubstatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/StageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/McrTagsMetadata.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/Repo.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagGroup.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/TaskHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForImagePublishCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForReadmePublishCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use ARM agent
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove logic from cleanup
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove arm variable
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use ARM64-enabled build agents in all build environments (#573)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagsMetadata.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/TaskHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Commands to wait for publish results (#572)
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ServicePrincipalOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpClientProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpPolicyBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/IMcrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IMcrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitResultDetailed.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/CommitStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ContentSubstatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageResultDetailed.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/ImageSubstatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrStatus/StageStatus.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/Repo.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagGroup.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/McrTags/TagsMetadata.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/TaskHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Wait for MCR image/doc ingestion in pipeline
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add 'imports' concept to manifests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates per code review feedback
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support for dry-run option for MCR wait commands
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Tweak to support manifest with no variables
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add 'import' concept to manifests (#575)
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Manifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestInfoTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Microsoft.DotNet.ImageBuilder.Tests.csproj
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
