Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/*
  paths:
    include:
    - src/*

trigger: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    buildMatrixType: platformVersionedOs
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: templates/variables/eng-validation.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml
  parameters:
    noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: eng/tests/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./eng/tests/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: eng/tests/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/
- name: imageInfoVariant
  value: "-test"

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Update Image Builder tag (#673)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix image info generation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix image info generation (#674)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag (#675)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Trims test jobs consisting of only unchanged images
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete the renderingtool containers in the GeneratedReadmesCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Trims test jobs consisting of only unchanged images (#678)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Delete the renderingtool containers in the GeneratedReadmesCommand (#679)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateReadmesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix Windows build leg for image size validation
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support tag syndication
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support tag syndication (#682)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateImageGraphCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/ImageData.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support custom destination tag names for syndication
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/TagSyndication.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support custom destination tag names for syndication (#683)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/TagSyndication.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/TagInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix MCR ingestion wait logic for syndicated tags
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix MCR ingestion wait logic for syndicated tags (#684)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder (#685)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix Windows build leg for image size validation (#681)
  eng/common/templates/jobs/validate-image-sizes.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update readme generation of full tags section
  src/Microsoft.DotNet.ImageBuilder/src/ReadmeHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update to look for a marker that indicates end of generated tags
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/ReadmeHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Allow comment marker to be optional
  src/Microsoft.DotNet.ImageBuilder/src/ReadmeHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update readme generation of full tags section (#687)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/ReadmeHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add a header to test readme files
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/templates/README.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Update Image Builder tag (#690)
  eng/common/templates/variables/docker-images.yml
  eng/tests/pipeline-validation/README.placeholder.md
  eng/tests/pipeline-validation/templates/README.md
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Handle non-matching tag names between manifest and image info file
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix product version comparison when loading image info
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Handle non-matching tag names between manifest and image info file (#693)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix to handle null product versions
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix product version comparison when loading image info (#695)
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag (#696)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Indicate Window Server type in display name
  src/Microsoft.DotNet.ImageBuilder/src/Commands/TrimUnchangedPlatformsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Publish to internal versions repo
  .editorconfig
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AzdoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Services/AzdoGitHttpClientExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/AzdoGitHttpClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/BuildHttpClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IAzdoGitHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IAzdoGitHttpClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/ProjectHttpClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove image info sorting, requires deeper implementation
  src/Microsoft.DotNet.ImageBuilder/src/Commands/TrimUnchangedPlatformsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove common testResultsDirectory variable
  eng/common/templates/variables/common-paths.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Indicate Window Server type in display name (#697)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Image/PlatformData.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ImageInfoHelperTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MergeImageInfoFilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PlatformInfoTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
