Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/image-info-schema
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Update common build.ps1 scipt's handling of path arg
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Specify product version components option for matrix
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Specify product version components option for matrix (#471)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add support for multiple paths
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update common build.ps1 scipt's handling of path arg (#470)
  eng/common/build.ps1
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix product version parsing for build matrix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix product version parsing for build matrix (#472)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#473)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Disable the cleanup of image info content
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Disable the cleanup of image info content (#475)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#476)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix graph generation for base image change detection
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean old data from image info file on publish (#459)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix repo name comparison
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix graph generation for base image change detection (#477)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Distinguish qualified manifest name
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/RepoInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused repo-overrides option
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/IManifestOptionsInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/RepoInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support manifest-specific image infos in ImageBuilder
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/GitFile.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/Subscription.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/GitFile.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/Subscription.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix comparison of platforms in commands
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix comparison of platforms in commands (#484)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean out-of-date image info content on publish (#478)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateTagsReadmeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageSizeCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/IManifestOptionsInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ManifestInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/RepoInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/VariableHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support manifest-specific image infos in ImageBuilder (#482)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/GitFile.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/Subscription.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix broken tests due to incompatible code changes
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix broken tests due to incompatible code changes (#485)
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support manifest-specific image infos in pipeline
  eng/check-base-image-subscriptions.json
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Reference latest image builder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix branch for versions repo
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Add IngestImageInfoTelemetryCommand
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/GetTagsResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/ManifestAttributes.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/RepositoryManifests.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/TagDetails.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support manifest-specific image infos in pipeline (#483)
  eng/check-base-image-subscriptions.json
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates per code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates per code review
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix field name used in subscriptions file
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix field name used in subscriptions file (#489)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Add IngestImageInfoTelemetryCommand (#487)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ImageInfoHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix subscription branch for .NET Core samples
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Fix subscription branch for .NET Core samples (#490)
  eng/check-base-image-subscriptions.json
Due: eng/pipelines/dotnet-docker-tools-pr.yml
