Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - src/*

pr: none

variables:
- template: templates/variables/image-builder.yml

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/image-info-schema
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-eng-validation.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
    - test/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: eng/tests/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./eng/tests/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: eng/tests/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/
- name: imageInfoVariant
  value: "-test"

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Add pull ImageBuilder optimization to Invoke-ImageBuilder script
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Support for dry-run option for MCR wait commands (#576)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add pull ImageBuilder optimization to Invoke-ImageBuilder script (#577)
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Code review update
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Wait for MCR image/doc ingestion in pipeline (#574)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Flow dry-run option to MCR wait tasks
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Prune dangling sample images
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Prune dangling sample images (#579)
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Flow dry-run option to MCR wait tasks (#578)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Split off PR-specific eng validation pipeline
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
  eng/pipelines/templates/variables/eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add generateDockerfiles command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DockerfileHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ModelExtensionsTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Updates per code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add generateDockerfiles command (#581)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateDockerfilesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/ModelExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateDockerfilesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/DockerfileHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ModelExtensionsTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Split off PR-specific eng validation pipeline (#580)
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
  eng/pipelines/templates/variables/eng-validation.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Fix various issues with waiting for MCR ingestion
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix various issues with waiting for MCR ingestion (#582)
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag (#583)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Handle undocumented platform tag generation
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass manifest variables to waitForMcrImageIngestion cmd
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ShowImageStatsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/TagDocumentationType.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass manifest variables to waitForMcrImageIngestion cmd (#586)
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Handle undocumented platform tag generation (#584)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ShowImageStatsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrTagsMetadataGenerator.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Tag.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/TagDocumentationType.cs
  src/Microsoft.DotNet.ImageBuilder/tests/McrTagsMetadataGeneratorTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag (#587)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add retry logic to copyAcrImages cmd
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpPolicyBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add retry logic to copyAcrImages cmd (#588)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/HttpPolicyBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Set exit code within Invoke-ImageBuilder script
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Set exit code within Invoke-ImageBuilder script (#589)
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add pre-build validation to common build infrastructure
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipeline-validation run-tests.ps1
  eng/tests/pipeline-validation/run-tests.ps1
Due: eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add missing run-tests.ps1 parameters
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add pre-build validation to common build infrastructure (#590)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/tests/pipeline-validation/run-tests.ps1
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add missing run-tests parameters
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add missing run-tests parameters (#591)
  src/Microsoft.DotNet.ImageBuilder/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix issue with parent graph outside platform group
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove usage of product version in grouping platformVersionedOs matrix
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/CustomBuildLegDependency.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/CustomBuildLegGroup.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Manifest/Platform.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/CustomBuildLegGroupingInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/ViewModel/PlatformInfo.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Validate build doesn't cause an inadvertent pull
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Check IsSkipPullingEnabled option
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Support multiple groups
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml
