Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common

Fix source build ID file output
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add disposable logging group class
  src/Microsoft.DotNet.ImageBuilder/src/LoggingGroup.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add Azure pipelines logging commands
  src/Microsoft.DotNet.ImageBuilder/src/Logger.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update nullability for Logger
  src/Microsoft.DotNet.ImageBuilder/src/Logger.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Sync LoggerService with Logger
  src/Microsoft.DotNet.ImageBuilder/src/ILoggerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/LoggerService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Log executing commands with command logging command
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use logging scope for command output
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary diff
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use file scoped namespaces
  src/Microsoft.DotNet.ImageBuilder/src/ILoggerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Logger.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add LoggingGroup dependency on ILoggerService and document LoggerService methods
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/ILoggerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/LoggerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/LoggingGroup.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add note about nested logging groups
  src/Microsoft.DotNet.ImageBuilder/src/LoggingGroup.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Plumb through more sourceBuildId parameters
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add service connection options
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyBaseImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ServiceConnectionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use IServiceConnection where possible
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add IServiceConnection
  src/Microsoft.DotNet.ImageBuilder/src/Commands/ServiceConnectionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IServiceConnection.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix dependency injection errors
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update service connection
  src/Microsoft.DotNet.ImageBuilder/src/IServiceConnection.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix copy images subscription args
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update tests
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyBaseImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ContainerRegistryHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/CopyImageHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestServiceHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/MarStatusHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/MarImageIngestionReporterTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMarAnnotationIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrDocIngestionCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/WaitForMcrImageIngestionCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unnecessary imports
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/AzureTokenCredentialProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAzureTokenCredentialProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/IContainerRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/MarImageIngestionReporter.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/McrStatusClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProvider.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused build option for storage service connection
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix syntax errors
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Use ServiceConnection in Build command
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryCredentialsProviderExtensions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use scope in container registry content client
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Don't explicitly initialize service connection properties to null
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AnnotateEolDigestsOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateEolAnnotationDataOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMarAnnotationIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrDocIngestionOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/WaitForMcrImageIngestionOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Clean up CleanAcrImagesOptions
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add missing readonly
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove unused token credential provider field
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pass through more sourceBuildPipelineRunId parameters
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add debug logging
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/steps/debug-log.yml
  eng/common/templates/steps/download-build-artifact.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update tests
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

More plumbing
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Add debug logging"
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/steps/debug-log.yml
  eng/common/templates/steps/download-build-artifact.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove extra logging
  eng/common/templates/steps/init-common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use more consistent naming
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
  eng/pipelines/templates/variables/build-test-publish.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/image-builder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updating wording
  eng/pipelines/dotnet-buildtools-image-builder-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add service connection argument support to templates
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add better service connections comment
  eng/common/templates/stages/setup-service-connections.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml
