Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  extends:
    template: /eng/common/templates/1es-unofficial.yml@self
    parameters:
      stages:
      - template: /eng/common/templates/stages/dotnet/build-test-publish-repo.yml@self
        parameters:
          noCache: true
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Set placeholder variables
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

[main] Update Image Builder tag reference (#1251)
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix test result publishing (#1244)
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Define default values for common variables
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove debugging step
  eng/common/templates/jobs/generate-matrix.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Define default values for common variables (#1257)
  eng/common/templates/variables/common.yml
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use a default Linux pool for non-sdl tasks
  eng/common/templates/1es-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use a default Linux pool for non-sdl tasks (#1258)
  eng/common/templates/1es-official.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove dependency on Azure Fluent package
  src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RegistryHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Resolve build error from nullable value type
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove dependency on Azure Fluent package (#1259)
  src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RegistryHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Eliminate Service Principal authentication in CopyImages commands
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update tests
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyBaseImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update formatting
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Simplify ARM Client creation
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove service principal authentication from CopyImages commands (#1261)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CopyImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyAcrImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CopyBaseImagesCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Define factory for creating a registry client
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add implementation that wraps Azure library API
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/CopyImageService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RegistryClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix validate branch condition
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add condition for unofficial builds
  eng/common/templates/steps/validate-branch.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update eng/common/templates/steps/validate-branch.yml
  eng/common/templates/steps/validate-branch.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update pipeline
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/init-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use imagebuilder template
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix branch validation (#1263)
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Flow ACR name
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/DockerRegistryOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryAuthContext.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceExtensionsTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Replace BasicAuthenticationCredentials with existing RegistryCredentials
  src/Microsoft.DotNet.ImageBuilder/src/BasicAuthenticationCredentials.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix nullability warnings
  src/Microsoft.DotNet.ImageBuilder/src/ContainerRegistryContentClientWrapper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add unit tests
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryServiceClient.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix issues with internal pipeline runs
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use scripts to compose ImageBuilder commands
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add cleanup command
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Flow ACR name"
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/DockerRegistryOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishManifestCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/DockerServiceCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/IDockerService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/IRegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ImageDigestCache.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestService.cs
  src/Microsoft.DotNet.ImageBuilder/src/ManifestServiceExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryAuthContext.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/BuildCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/ManifestServiceExtensionsTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishManifestCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Define Options as an importable component
  src/Microsoft.DotNet.ImageBuilder/src/ImageBuilder.cs
  src/Microsoft.DotNet.ImageBuilder/src/RegistryContentClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/RegistryContentClientFactoryTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use semicolon instead of && to run auth cleanup
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix variable names in init-docker-linux
  eng/common/templates/steps/init-docker-linux.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pull token management out into calling AzCli task
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/run-imagebuilder.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
