Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - Microsoft.DotNet.ImageBuilder/*
pr: none

variables:
- group: DotNet-Docker-Common
- group: DotNet-Docker-Secrets

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:

pr:
  branches:
    include:
    - master
    - feature/image-info-schema
  paths:
    include:
    - src/*

trigger: none

jobs:
- template: templates/jobs/build-image-builder.yml
  parameters:
    publishImages: false

eng/pipelines/dotnet-docker-tools-pr.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - eng/*

variables:
- template: ../common/templates/variables/common.yml
- name: manifest
  value: test/pipeline-validation/test-manifest.json
- name: testScriptPath
  value: ./test/pipeline-validation/run-tests.ps1
- name: testResultsDirectory
  value: test/pipeline-validation/TestResults/
- name: publicGitRepoUri
  value: https://github.com/dotnet/dotnet-docker-test
- name: publishRepoPrefix
  value: test/

stages:
- template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - eng/common/*
pr: none

variables:
- group: DotNet-Maestro

jobs:
- job: Build
  pool: Hosted Ubuntu 1604
  steps:
  - script: >
      docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
    displayName: Build File Pusher
  - script: >
      docker run --rm file-pusher
      $(filters)
      ./eng/eng-common-file-pusher-config.json
      dotnet-maestro-bot
      dotnet-maestro-bot@microsoft.com
      $(BotAccount-dotnet-maestro-bot-PAT)
    displayName: Run File Pusher

Updates from code review
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add build/test legs for Windows, version 2004
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add check for new nightly repo name
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Integrate ingestKustoImageInfo command into the builds
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Integrate ingestKustoImageInfo command into the builds (#492)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix matrix generation to walk graph for customBuildLegGrouping
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix line ending diff test issue on LCOW
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix matrix generation to walk graph for customBuildLegGrouping (#493)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GenerateBuildMatrixCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GenerateBuildMatrixCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/Helpers/ManifestHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update ImageBuilder tags (#494)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix commands to support dry-run option better
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitBranchRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitFileRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitRepoRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/GitFile.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Allow testability of HTTP requests
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Delete test repos with all expired images
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to delete unnecessary images from ACR (#462)
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Catalog.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/DeleteRepositoryResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/GetTagsResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/ManifestAttributes.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthExchangeResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthTokenResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Repository.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/RepositoryManifests.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/TagDetails.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix credscan issue with test file
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Command to delete unnecessary images from ACR
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/CleanAcrImagesOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/IAcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Catalog.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/DeleteRepositoryResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/GetTagsResponse.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/ManifestAttributes.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthExchangeResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/OAuthTokenResult.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/Repository.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/RepositoryManifests.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Acr/TagDetails.cs
  src/Microsoft.DotNet.ImageBuilder/tests/CleanAcrImagesCommandTest.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Omit logging only for dry-runs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Fix commands to support dry-run option better (#495)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GetStaleImagesCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishImageInfoOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/GitHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitBranchRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitFileRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/IGitRepoRef.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/GitFile.cs
  src/Microsoft.DotNet.ImageBuilder/tests/PublishImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#499)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add retry logic for ACR cleanup
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor build job names to remove containing stage name
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Method name update
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Minor fix for null ref in dry runs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Refactor build job names to remove containing stage name (#502)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update retry behavior for 429 error
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove defaults for parameters
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use Polly.Contrib implementations
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add retry logic for ACR cleanup (#500)
  src/Microsoft.DotNet.ImageBuilder/src/AcrClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/AcrClientFactory.cs
  src/Microsoft.DotNet.ImageBuilder/src/ExecuteHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/Microsoft.DotNet.ImageBuilder.csproj
  src/Microsoft.DotNet.ImageBuilder/src/RetryHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update ImageBuilder tags (#503)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add build/test legs for Windows, version 2004 (#491)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Changed linux ImageBuilder image to be based on Alpine vs Debian
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.debian
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/build.ps1
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use cleanAcrImages command in pipeline
  eng/Invoke-AcrCleanup.ps1
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Upgrading manifest tool to an official released version
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use cleanAcrImages command in pipeline (#506)
  eng/Invoke-AcrCleanup.ps1
  eng/pipelines/cleanup-acr-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml

Changed linux ImageBuilder image to be based on Alpine vs Debian (#505)
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.debian
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.linux
  src/Microsoft.DotNet.ImageBuilder/Dockerfile.windows
  src/Microsoft.DotNet.ImageBuilder/build.ps1
  src/Microsoft.DotNet.ImageBuilder/src/DockerHelper.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update image-builder used in builds
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Don't connect to Kusto on dry runs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-pr.yml
