Repository dotnet/docker-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

eng/pipelines/dotnet-buildtools-image-builder-official.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      noCache: true

eng/pipelines/dotnet-buildtools-image-builder-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      buildMatrixType: platformVersionedOs
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      noCache: true

eng/pipelines/dotnet-docker-tools-eng-validation.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-docker-tools-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/push-common-updates.yml:
  jobs:
  - job: Build
    pool:
      vmImage: $(defaultLinuxAmd64PoolImage)
    steps:
    - script: 'docker build . -f ./eng/file-pusher/Dockerfile -t file-pusher
  
        '
      displayName: Build File Pusher
  ...

Fix retry behavior for Kusto ingestion (#810)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/IngestKustoImageInfoCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IKustoClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/KustoClientWrapper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/IngestKustoImageInfoCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Stop queuing builds if there are recent failures
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AzdoTags.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/PipelineHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder (#812)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove custom default options for publishMcrDocs cmd
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Provide better method name, refactoring
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Update Image Builder tag reference
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Stop queuing builds if there are recent failures (#813)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/AzdoTags.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/PipelineHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Automatically create PR to reference new Image Builder tag
  eng/common/templates/jobs/publish.yml
  eng/eng-common-file-pusher-config.json
  eng/image-builder-tag-update-config.json
  eng/pipelines/push-common-updates.yml
  eng/pipelines/update-image-builder-tag.yml
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/FilePusher.cs
  eng/src/file-pusher/Models/Config.cs
  eng/src/file-pusher/Models/GitRepo.cs
  eng/src/file-pusher/NuGet.config
  eng/src/file-pusher/Options.cs
  eng/src/file-pusher/file-pusher.csproj
  eng/src/tools.sln
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/NuGet.config
  eng/src/yaml-updater/Options.cs
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Remove custom default options for publishMcrDocs cmd (#814)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PublishMcrDocsOptions.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove check for fully-qualified digest value
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Remove check for fully-qualified digest value (#822)
  src/Microsoft.DotNet.ImageBuilder/src/Commands/BuildCommand.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Use txt instead of json
  eng/common/templates/jobs/publish.yml
  eng/pipelines/update-image-builder-tag.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Automatically create PR to reference new Image Builder tag (#820)
  eng/common/templates/jobs/publish.yml
  eng/eng-common-file-pusher-config.json
  eng/image-builder-tag-update-config.json
  eng/pipelines/push-common-updates.yml
  eng/pipelines/update-image-builder-tag.yml
  eng/src/file-pusher/Dockerfile
  eng/src/file-pusher/FilePusher.cs
  eng/src/file-pusher/Models/Config.cs
  eng/src/file-pusher/Models/GitRepo.cs
  eng/src/file-pusher/NuGet.config
  eng/src/file-pusher/Options.cs
  eng/src/file-pusher/file-pusher.csproj
  eng/src/tools.sln
  eng/src/yaml-updater/Dockerfile
  eng/src/yaml-updater/NuGet.config
  eng/src/yaml-updater/Options.cs
  eng/src/yaml-updater/YamlUpdater.cs
  eng/src/yaml-updater/yaml-updater.csproj
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Scripts to check package updates
  eng/get-installed-packages.sh
  eng/get-upgradable-packages.bash.sh
  eng/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Support manifest variables when loading manifests from subscription
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/Subscription.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/SubscriptionManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/SubscriptionHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Pipeline changes to check for base image updates
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/templates/steps/get-stale-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Add build/test leg support for WS 2022
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update image builder
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Updates from review
  eng/get-upgradable-packages.bash.sh
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Support manifest variables when loading manifests from subscription (#825)
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/Subscription.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/Subscription/SubscriptionManifest.cs
  src/Microsoft.DotNet.ImageBuilder/src/SubscriptionHelper.cs
  src/Microsoft.DotNet.ImageBuilder/tests/GetStaleImagesCommandTests.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Add docker-tools to check-base-image-subscriptions
  eng/check-base-image-subscriptions.json
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add command to post publish notifications
  src/Microsoft.DotNet.ImageBuilder/src/Commands/GitOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/NotificationLabels.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PostPublishNotificationCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/PostPublishNotificationOptions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Commands/QueueBuildCommand.cs
  src/Microsoft.DotNet.ImageBuilder/src/INotificationServices.cs
  src/Microsoft.DotNet.ImageBuilder/src/Models/QueueNotification/QueueInfo.cs
  src/Microsoft.DotNet.ImageBuilder/src/NotificationHelper.cs
  src/Microsoft.DotNet.ImageBuilder/src/NotificationService.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/BuildExtensions.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/IBuildHttpClient.cs
  src/Microsoft.DotNet.ImageBuilder/src/Services/VssConnectionFactory.cs
  src/Microsoft.DotNet.ImageBuilder/tests/QueueBuildCommandTests.cs
Due: eng/pipelines/dotnet-buildtools-image-builder-official.yml, eng/pipelines/dotnet-buildtools-image-builder-pr.yml

Copy base images should ignore dry run for internal builds
  eng/common/templates/jobs/copy-base-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add docker-tools to check-base-image-subscriptions (#834)
  eng/check-base-image-subscriptions.json
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Add build/test leg support for WS 2022 (#826)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Revert "Add build/test leg support for WS 2022 (#826)"
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Update Image Builder tag reference (#823)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Use env var instead of needing to set pipeline variable
  eng/common/templates/jobs/copy-base-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix usage of source branch name
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/steps/validate-branch.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Pipeline variable refactoring
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/cg-detection.yml
  eng/pipelines/check-base-image-updates.yml
  eng/pipelines/cleanup-acr-images-custom.yml
  eng/pipelines/cleanup-acr-images.yml
  eng/pipelines/push-common-updates.yml
  eng/pipelines/templates/steps/copy-base-images.yml
  eng/pipelines/templates/steps/get-stale-images.yml
  eng/pipelines/templates/variables/common.yml
  eng/pipelines/templates/variables/eng-validation.yml
  eng/pipelines/templates/variables/image-builder.yml
  eng/pipelines/update-image-builder-tag.yml
  eng/pipelines/validate-remote-docker-config.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Only add var groups for internal builds
  eng/pipelines/templates/variables/common.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml

Revert "Revert "Add build/test leg support for WS 2022 (#826)""
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Copy base images should ignore dry run for internal builds (#839)
  eng/common/templates/jobs/copy-base-images.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Fix usage of source branch name (#840)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/steps/validate-branch.yml
Due: eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml, eng/pipelines/dotnet-docker-tools-eng-validation.yml, eng/pipelines/dotnet-docker-tools-pr.yml, eng/pipelines/push-common-updates.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-image-builder-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-image-builder-pr.yml: any of: src
  eng/pipelines/dotnet-docker-tools-eng-validation-pr.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-eng-validation.yml: any of: eng, test
  eng/pipelines/dotnet-docker-tools-pr.yml: any of: eng
  eng/pipelines/push-common-updates.yml: any of: eng/common
